<div class="content" *ngIf="participateAccess.event == 'Yes' || participateAccess.task == 'Yes' || participateAccess.document == 'Yes'">
    <div class="row">
        <div class="col-md-12 page-main">
            <div class="page-title">
                <img src="assets/img/org_title.svg">
                <h2>{{language.organizer.title}}</h2>
                <!-- <div class="all_activity" (click)="onOpen()"><h4>All Activities<i class="nc-icon nc-simple-add"></i></h4></div> -->
                <div class="alert alert-danger" *ngIf="responseMessage">{{responseMessage}}</div>
                <div class="all_btn_group btn_collapse">
                    <div class="title-btn-group">
                        <button type="button" routerLink="organizer-event" (click)="onEvents()" [ngClass]="displayEvents == true ? 'selected' : 'disabled'">{{language.organizer.events}}</button>
                        <button type="button" routerLink="organizer-task" (click)="onTasks()" [ngClass]="displayTasks == true ? 'selected' : 'disabled'">{{language.organizer.task_list}}</button>
                        <button type="button" routerLink="organizer-documents" id="organizer_doc" (click)="onDocuments()" [ngClass]="displayDocs == true ? 'selected' : 'disabled'">{{language.organizer.documents}}</button>
                    </div>
                    <div class="fixed_btn_group">
                        <ul>
                            <li><button style="border-bottom-left-radius: 12px" type="button" (click)="onEvents()" [ngClass]="displayEvents == true ? 'selected' : 'disabled'">{{language.organizer.events}}</button></li>
                            <li><button type="button" (click)="onTasks()" [ngClass]="displayTasks == true ? 'selected' : 'disabled'">{{language.organizer.task_list}}</button></li>
                            <li><button style="border-bottom-right-radius: 12px" type="button" (click)="onDocuments()" [ngClass]="displayDocs == true ? 'selected' : 'disabled'">{{language.organizer.documents}}</button></li>
                        </ul>
                    </div>
                    <!-- <div class="title-btn-group right-btn-group"  *ngIf="createAccess.event == 'Yes' || createAccess.task == 'Yes' || createAccess.document == 'Yes'"> -->
                    <div class="title-btn-group right-btn-group">
                        <button type="button" *ngIf="createAccess.event == 'Yes'" class="disabled" routerLink="/create-event"><img src="assets/img/Calendar.svg">&nbsp;{{language.organizer.create_event}}</button>
                        <button type="button" *ngIf="createAccess.task == 'Yes'" class="disabled" routerLink="/create-task"><img src="assets/img/Paper.svg">&nbsp;{{language.organizer.create_task}}</button>
                        <!-- <form [formGroup]="documentForm" (ngSubmit)='uploadDocument()'> -->
                        <!-- <div class="doc_upload_btn" *ngIf="createAccess.document == 'Yes' && displayDocs"> -->
                        <div class="doc_upload_btn" *ngIf="displayDocs">
                            <input type="file" (change)="uploadFile($event)">
                            <span class="upload_ol">{{language.organizer.upload_document}}</span>
                        </div>
                        <!-- </form> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-organizer-event *ngIf="displayEvents == true && participateAccess.event == 'Yes'"></app-organizer-event>
    <app-organizer-task *ngIf="displayTasks == true && participateAccess.task == 'Yes'"></app-organizer-task>
    <app-organizer-document *ngIf="displayDocs == true && participateAccess.document == 'Yes'"></app-organizer-document>
</div>
<div class="content" *ngIf="participateAccess.event == 'No' && participateAccess.task == 'No' &&  participateAccess.document == 'No'">
    <div class="row">
        <div class="col-md-12 page-main">
            <div class="page-title">
                <img src="assets/img/org_title.svg">
                <h2>{{language.organizer.title}}</h2>
            </div>
            <div class="not-available-user">
                {{language.genral_message.not_available_msg}}
            </div>
        </div>
    </div>
</div>