
@media only screen and (min-width: 768px){
.all_activity{
	display: none;
}
}
@media only screen and (max-width: 767px){
.all_btn_group.btn_collapse .title-btn-group {
    display: none;
}
.all_btn_group.btn_collapse.open .title-btn-group {
    display: block;
}
.title-btn-group.right-btn-group {
    display: block !important;
}
.title-btn-group button.disabled, .doc_upload_btn span.upload_ol {
    padding: 12px 16px;
}
.all_activity h4 {
    font-size: 22px;
    font-weight: 600;
    margin: 0px;
    width: 100%;
    align-items: center;
    color: #192838;
}
.all_activity {
    background: #fff;
    padding: 10px 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}
.all_activity h4 i {
    font-size: 18px;
    background: #f7f7f9;
    padding: 5px;
    float: right;
    margin-right: 0px;
}
.all_btn_group.btn_collapse.open {
    background: #fff;
    padding: 15px;
    margin-bottom: 20px;
    padding-bottom: 30px;
}
.all_btn_group.btn_collapse.open .title-btn-group button {
    width: 100%;
}
.all_btn_group.btn_collapse.open .title-btn-group{
	margin-bottom: 0px;
}
.title-btn-group.right-btn-group button {
    width: 48%;
}
.title-btn-group.right-btn-group button:nth-child(2) {
    margin-right: 0;
}
}
@media screen and (max-width: 600px) {
   .card{
    margin-right: 0px;
    margin-left: 0px;
}
.col-md-12.page-main {
    padding: 0 15px;
}
.fc .fc-toolbar {
    display: inline-block !important;
}
.fc-toolbar-chunk h2 {
    margin-bottom: 15px !important;
}
}
@media only screen and (max-width: 1024px) {
    .fixed_btn_group{
        display: block;
    }
     .fixed_btn_group ul {
    position: fixed;
    top: 180px;
    right: -30px;
    padding: 0;
    z-index:99;
}
    .fixed_btn_group ul li{
        list-style: none;
    }
    .fixed_btn_group ul li button {
    width: 89px;
    height: 40px;
    padding: 0;
    margin: 24px 0px;
    color: #677180;
    border: transparent;
    background: #fff;
    font-size: 12px;
    transform: rotate(90deg);
    border: 1px solid #95A2B4;
    font-family: 'poppinssemibold';
}
.fixed_btn_group ul li button.selected{
    background:#192838;
    color: #fff;
}
.title-btn-group{
    display: none;
}
.title-btn-group.right-btn-group {
    display: flex;
}
.page-title h2 {
    margin-bottom: 20px;
}

}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .doc_upload_btn span.upload_ol {
    width: auto;
    text-align: center;
}
    }
@media only screen and (min-width: 1025px) {
    .fixed_btn_group{
        display: none;
    }
}
.title-btn-group.right-btn-group button img {
    padding-top: 10px;
}
@media only screen and (max-width: 320px) {
    .title-btn-group button.disabled, .doc_upload_btn span.upload_ol {
    padding: 12px 5px;
}
}
/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
.fixed_btn_group ul {
    position: fixed;
    bottom: -14px;
    right: -23px;
    padding: 0;
    z-index: 999999;
    top: inherit;
}
 .fixed_btn_group ul li button {
    width: 82px;
    height: 40px;
    padding: 0;
    margin: 20px 0px;
    color: #677180;
    border: transparent;
    background: #fff;
    font-size: 12px;
    transform: rotate(
90deg
);
    border: 1px solid #95A2B4;
    font-family: 'poppinssemibold';
    line-height: 12px;
}
}
/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
 .fixed_btn_group ul {
    position: fixed;
    bottom: -14px;
    right: -23px;
    padding: 0;
    z-index: 999999;
    top: inherit;
}
 .fixed_btn_group ul li button {
    width: 82px;
    height: 40px;
    padding: 0;
    margin: 20px 0px;
    color: #677180;
    border: transparent;
    background: #fff;
    font-size: 12px;
    transform: rotate(
90deg
);
    border: 1px solid #95A2B4;
    font-family: 'poppinssemibold';
    line-height: 12px;
}
}
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
.fixed_btn_group ul {
    position: fixed;
    bottom: -14px;
    right: -23px;
    padding: 0;
    z-index: 999999;
    top: inherit;
}
 .fixed_btn_group ul li button {
    width: 82px;
    height: 40px;
    padding: 0;
    margin: 20px 0px;
    color: #677180;
    border: transparent;
    background: #fff;
    font-size: 12px;
    transform: rotate(
90deg
);
    border: 1px solid #95A2B4;
    font-family: 'poppinssemibold';
    line-height: 12px;
}
}
/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
.fixed_btn_group ul {
    position: fixed;
    bottom: -14px;
    right: -23px;
    padding: 0;
    z-index: 999999;
    top: inherit;
}
 .fixed_btn_group ul li button {
    width: 82px;
    height: 40px;
    padding: 0;
    margin: 20px 0px;
    color: #677180;
    border: transparent;
    background: #fff;
    font-size: 12px;
    transform: rotate(
90deg
);
    border: 1px solid #95A2B4;
    font-family: 'poppinssemibold';
    line-height: 12px;
}
}
/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
.fixed_btn_group ul {
    position: fixed;
    bottom: -14px;
    right: -23px;
    padding: 0;
    z-index: 999999;
    top: inherit;
}
}