<div class="content">
    <div class="add_event_main event_main">
        <div class="row">
            <div class="col-md-12 add_event_content create_group_section">
                <div class="card">
                    <div class="card-body">
                        <form [formGroup]="createGroupForm" (ngSubmit)='updateGroup()'>
                            <!-- profile header start -->
                            <div class="profile_main_head">
                                <div class="profile_title">{{language.create_group.title_update}}</div>
                            </div>
                            <!-- profile header end -->
                            <!-- profile details data start -->
                            <div class="profile_details">
                                <div class="alert alert-danger" *ngIf="responseMessage">{{responseMessage}}</div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="create_group">
                                            <div class="event_field">
                                                <label>{{language.create_group.add_a_picture}}</label>
                                                <div class="event_upload" *ngIf="groupData">
                                                    <label class="preview_txt" style="display: none;"></label>
                                                    <input type="file" (change)="uploadFile($event)" id="add_image">
                                                    <span class="event_uplod_overlay">
                                                        <label *ngIf="errorImage.isError" class="text-danger">
                                                            {{ errorImage.errorMessage }}
                                                        </label>
                                                        <img class="preview_img" *ngIf="groupData.image == null" src="assets/img/event_upload.png">
                                                        <img id="preview_img" *ngIf='groupData' src="{{groupData.image}}">
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="event_field">
                                            <label>{{language.create_group.group_name}}</label>
                                            <input type="text" placeholder="Group Name" formControlName="name" class="trigger_class" [ngClass]="{ 'is-invalid': submitted && createGroupForm.controls.name.errors }">
                                            <div *ngIf="(createGroupForm.controls.name.touched || submitted)&& createGroupForm.controls.name.errors?.required" class="text-danger">
                                                <div *ngIf="createGroupForm.controls.name.errors.required">
                                                    {{language.error_message.common_required}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="event_field task_area_field">
                                            <label>{{language.create_group.description}}</label>
                                            <angular-editor formControlName="description" [config]="editorConfig" [ngClass]="{ 'is-invalid': submitted && createGroupForm.controls.description.errors }">
                                            </angular-editor>
                                            <div *ngIf="(createGroupForm.controls.description.touched || submitted)&& createGroupForm.controls.description.errors?.required" class="text-danger">
                                                <div *ngIf="createGroupForm.controls.description.errors.required">
                                                    {{language.error_message.common_required}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="news-dropdown" *ngIf='participant'>
                                            <label>{{language.create_group.participants}}</label>
                                            <!-- <label *ngFor="let user of participant">{{participant.user_name}}</label> -->
                                            <ng-multiselect-dropdown *ngIf="participant.length" formControlName="participants" [placeholder]="language.create_group.participants" [settings]="participantDropdownSettings" [data]="user_dropdown" (onSelect)="onParticipantSelect($event)" (onDeSelect)="onParticipantDeSelect($event)"
                                                [ngClass]="{ 'is-invalid': submitted && createGroupForm.controls.participants.errors }">
                                                >
                                            </ng-multiselect-dropdown>
                                            <div *ngIf="(createGroupForm.controls.participants.touched || submitted)&& createGroupForm.controls.participants.errors?.required" class="text-danger">
                                                <div *ngIf="createGroupForm.controls.participants.errors.required">
                                                    {{language.error_message.common_required}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 all_participants">
                                        <div class="card" *ngIf="showParticipants">
                                            <div class="card-header ">
                                                <h5 class="card-title">{{language.create_group.all_participants}}</h5>
                                            </div>
                                            <div class="card-body ">
                                                <!-- appointment inner -->
                                                <div class="widget-appointment widget" *ngIf="participantSelectedToShow">
                                                    <div class="widget-app-content" *ngFor="let participant of participantSelectedToShow">
                                                        <div class="app-left-content">
                                                            <div class="parti_name">{{participant.user_name.split(" ")[0].charAt(0)}} {{participant.user_name.split(" ")[1].charAt(0)}}
                                                            </div>
                                                            <div class="user-content">
                                                                <span class="user-name">{{participant.user_name.split("
                                                                    (")[0]}}</span>
                                                                <span class="participant_email">(
                                                                    {{participant.user_name.split(" (")[1]}}</span>
                                                            </div>
                                                        </div>
                                                        <div class="app-right-content">
                                                            <span class="participant_status">
                                                                <span
                                                                    class="status_badge pending"></span>{{language.create_group.pending}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- appointment inner end -->
                                                <!-- appointment inner -->
                                                <div class="widget-appointment widget">
                                                    <div class="widget-app-content">
                                                        <div class="app-left-content">
                                                            <div class="parti_name">{{userDetails.firstName.charAt(0)}} {{userDetails.lastName.charAt(0)}}
                                                            </div>
                                                            <div class="user-content">
                                                                <span class="user-name">{{userDetails.firstName}}</span>
                                                                <span class="participant_email">( {{userDetails.email}}
                                                                    )</span>
                                                            </div>
                                                        </div>
                                                        <div class="app-right-content">
                                                            <span class="participant_status">
                                                                <span
                                                                    class="status_badge approved"></span>{{language.create_group.approved}}
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- profile details data End -->
                            <div class="profile_sub_btn event_sub_btn">
                                <button type="button " (click)="onCancel() " class="Cancel_btn ">{{language.create_group.cancel}}</button>
                                <button type="submit" class="save_btn">{{language.create_group.title_update}}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>