<div class="content">
    <!-- <div class="row">
        <div class="col-md-12 page-main">
            <div class="page-title">
                <img src="../../../assets/img/home_title.svg">
                <h2>{{language.dashboard.title}}</h2>
            </div>
        </div>
    </div> -->
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 top-card">
            <a routerLink="/clubwall">
                <div class="card card-stats">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-12 col-md-12">
                                <div class="widget-top widget-col">
                                    <h3>{{language.dashboard.club_wall}}</h3>
                                    <img src="../../../assets/img/club_icon.png">
                                    <h3 class="count-dashboard">{{clubNewsCount}}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer ">
                        <div class="widget-top-sub-text">{{language.dashboard.club_wall_subtext}}</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 top-card">
            <a routerLink="/community">
                <div class="card card-stats">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-12 col-md-12">
                                <div class="widget-top widget-col">
                                    <h3>{{language.dashboard.community}}</h3>
                                    <img class="comm_icon" src="../../../assets/img/community_icon.png">
                                    <h3 class="count-dashboard">{{communityCount}}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer ">
                        <div class="widget-top-sub-text">{{language.dashboard.community_subtext}}</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 top-card">
            <a routerLink="/organizer">
                <div class="card card-stats">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-12 col-md-12">
                                <div class="widget-top widget-col">
                                    <h3>{{language.dashboard.organizer}}</h3>
                                    <img src="../../../assets/img/organizer_icon.png">
                                    <h3 class="count-dashboard">{{organizerCount}}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer ">
                        <div class="widget-top-sub-text">{{language.dashboard.organizer_subtext}}</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 top-card">
            <a routerLink="/dashboard">
                <div class="card card-stats">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-12 col-md-12">
                                <div class="widget-top widget-col">
                                    <h3>{{language.dashboard.marketplace}}</h3>
                                    <img src="../../../assets/img/marketplace_icon.png">
                                    <h3 class="count-dashboard">--</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer ">
                        <div class="widget-top-sub-text">{{language.dashboard.marketplace_subtext}}</div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row dash-widget">
        <div class="club_widget" [ngClass]="participateAccess.appointments == 'Yes' ? 'col-md-8' : 'col-md-12'">
            <app-club-news></app-club-news>
        </div>
        <div class="col-md-4 appointment_widget"  *ngIf="participateAccess.appointments == 'Yes'">
            <app-club-appointments></app-club-appointments>
        </div>
    </div>
</div>