<div class="content" id="all_news_grid">
    <div class="card " *ngIf="role!='guest'">
        <div class="card-header ">
            <h5 class="card-title">{{language.dashboard.dashboardNewsTitle}}</h5>
            <div class="goBack">
                <button (click)="goBack()" type="button"><img src="../../assets/img/back_btn.png"></button>
            </div>
        </div>

        <div class="paginationHead full_width" *ngIf="dashboardData?.length > 0">
            <div class="pagintHeadLeft">
                <pagination-controls (pageChange)="pageChanged($event);" autoHide="true" previousLabel="{{language.pagination.previous}}" nextLabel="{{language.pagination.next}}">
                </pagination-controls>
            </div>
            <div class="searchRefine">
                <span>{{language.pagination.go_to_page}} <input type="text" #cPg value="{{ currentPageNmuber }}"
                        (change)="goToPg(cPg.value)"></span>
                <span>{{language.pagination.limit_per_page}}
                    <select #lPg value="{{ itemPerPage }}" (change)="setItemPerPage(lPg.value)">
                        <option *ngFor="let limitValue of limitPerPage" value="{{limitValue.value}}">
                            {{limitValue.value}}</option>
                    </select>
                </span>
                <div class="pagintHeadRight text-center">
                    {{ ((currentPageNmuber -1) * itemPerPage) + 1 }} to {{ (currentPageNmuber * itemPerPage) > newsTotalRecords ? newsTotalRecords : (currentPageNmuber * itemPerPage) }} of {{ newsTotalRecords | number }} {{language.header.news}}
                </div>
            </div>

        </div>

        <div class="card-body club_all_news">
            <div class="alert alert-danger" *ngIf="responseMessage">{{responseMessage}}</div>
            <div class="row" (onLoad)="getAllNews()">
                <div class="col-lg-3 col-md-3 col-sm-6" *ngFor='let data of dashboardData | paginate: {
                    itemsPerPage: itemPerPage,
                    currentPage: currentPageNmuber,
                    totalItems: newsTotalRecords }'>
                    <!-- <a routerLink="/clubnews/{{data.id}}" *ngIf="data.show_guest_list && userData.roles[0]=='guest'"> -->
                    <a routerLink="/clubnews/{{data.id}}">
                        <div class="news-widget">
                            <div class="news-image" [ngClass]="data.imageUrls == null ? 'no_image' : ''">
                                <!-- <img src="{{data.imageUrls}}"> -->
                                <img *ngIf="data.imageUrls!= null" src="{{data.imageUrls}}">
                                <img *ngIf="data.imageUrls == null" src="../../assets/img/no_image.png">
                            </div>
                            <div class="news-content">
                                <a routerLink="/clubnews/{{data.id}}">
                                    <h5 class="news-content-heading" [innerHTML]="data.title"></h5>
                                </a>
                                <p class="news-content-text" [innerHTML]="data.text">...<a href="#">{{language.dashboard.dashboardNewsContent}}</a></p>
                            </div>
                            <div class="card-footer ">
                                <hr>
                                <div class="author-info">
                                    <div class="author-img">
                                        <!-- <img src="assets/img/mike.jpg"> -->
                                        <img src="../../../assets/img/mike.jpg">
                                    </div>
                                    <div class="author-des">
                                        <span class="author-date">{{language.dashboard.dashboardNewsAuthor}}</span>
                                        <span class="author-id">{{data.user.firstname}}
                                            {{data.user.lastname}}</span>
                                        <span class="author-date">{{data.created_at | date: 'd MMM y'}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="card" *ngIf="role=='guest'">
        <div class="card-header ">
            <h5 class="card-title">{{language.dashboard.dashboardNewsTitle}}</h5>
            <div class="goBack">
                <button (click)="goBack()" type="button"><img src="../../assets/img/back_btn.png"></button>
            </div>
        </div>

        <div class="paginationHead full_width" *ngIf="guestNews?.length > 0">
            <div class="pagintHeadLeft">
                <pagination-controls (pageChange)="pageChanged($event);" autoHide="true" previousLabel="{{language.pagination.previous}}" nextLabel="{{language.pagination.next}}">
                </pagination-controls>
            </div>
            <div class="searchRefine">
                <span>{{language.pagination.go_to_page}} <input type="number" maxLength="132" #cPg
                        value="{{ currentPageNmuber }}" (change)="goToPg(cPg.value)"></span>
                <span>{{language.pagination.limit_per_page}}
                    <select #lPg value="{{ itemPerPage }}" (change)="setItemPerPage(lPg.value)">
                        <option *ngFor="let limitValue of limitPerPage" value="{{limitValue.value}}">
                            {{limitValue.value}}</option>
                    </select>
                </span>
                <div class="pagintHeadRight text-center">
                    {{ ((currentPageNmuber -1) * itemPerPage) + 1 }} to {{ (currentPageNmuber * itemPerPage) > guestNewsRecords ? guestNewsRecords : (currentPageNmuber * itemPerPage) }} of {{ guestNewsRecords | number }} {{language.header.news}}
                </div>
            </div>
        </div>

        <div class="card-body club_all_news">
            <div class="alert alert-danger" *ngIf="responseMessage">{{responseMessage}}</div>
            <div class="row" (onLoad)="getAllNews()">
                <div class="col-lg-3 col-md-3 col-sm-6" *ngFor='let data of guestNews | paginate: {
                    itemsPerPage: itemPerPage,
                    currentPage: currentPageNmuber,
                    totalItems: guestNewsRecords }'>
                    <!-- <a routerLink="/clubnews/{{data.id}}" *ngIf="data.show_guest_list && userData.roles[0]=='guest'"> -->
                    <a routerLink="/clubnews/{{data.id}}">
                        <div class="news-widget">
                            <div class="news-image" [ngClass]="data.imageUrls == null ? 'no_image' : ''">
                                <!-- <img src="{{data.imageUrls}}"> -->
                                <img *ngIf="data.imageUrls!= null" src="{{data.imageUrls}}">
                                <img *ngIf="data.imageUrls == null" src="../../assets/img/no_image.png">
                            </div>
                            <div class="news-content">
                                <a routerLink="/clubnews/{{data.id}}">
                                    <h5 class="news-content-heading" [innerHTML]="data.title"></h5>
                                </a>
                                <p class="news-content-text" [innerHTML]="data.text">...<a href="#">{{language.dashboard.dashboardNewsContent}}</a></p>
                            </div>
                            <div class="card-footer ">
                                <hr>
                                <div class="author-info">
                                    <div class="author-img">
                                        <!-- <img src="assets/img/mike.jpg"> -->
                                        <img src="../../../assets/img/mike.jpg">
                                    </div>
                                    <div class="author-des">
                                        <span class="author-date">{{language.dashboard.dashboardNewsAuthor}}</span>
                                        <span class="author-id">{{data.user.firstname}}
                                            {{data.user.lastname}}</span>
                                        <span class="author-date">{{data.created_at | date: 'd MMM y'}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>