<div class="content">
    <div class="profile_main">
        <div class="row">
            <div class="profile-sidebar">
                <div class="profile_navigation">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                            <a class="nav-link" data-toggle="tab" role="tab" routerLink="/profile">
                                <span>{{language.profile.profile_nav.general_info}}</span>
                            </a>
                        </li>
                        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                            <a class="nav-link data_ic" data-toggle="tab" role="tab" routerLink="/profile-bank">
                                <span>{{language.profile.profile_nav.payment_data}}</span>
                            </a>
                        </li>
                        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                            <a class="nav-link c_data active" data-toggle="tab" role="tab" routerLink="/profile-club">
                                <span>{{language.profile.profile_nav.club_data}}</span>
                            </a>
                        </li>
                        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                            <a class="nav-link c_data" data-toggle="tab" role="tab" routerLink="/profile-my-club">
                                <span>{{language.profile.profile_nav.my_club_data}}</span>
                            </a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                </div>
            </div>
            <div class="profile_content">
                <div class="card">
                    <div class="card-body">
                        <!-- profile header start -->
                        <div class="profile_main_head">
                            <div class="profile_header">
                                <div class="user-pic-inner">
                                    <img src="{{clubData.logourl}}">
                                </div>
                                <div class="user_pro_info">
                                    <h3 class="user_name" *ngIf="clubData">{{clubData.name}}</h3>
                                    <span class="user-designation">{{language.profile.club}}</span>
                                </div>
                                <!-- <div class="print_btn_group">
                                    <a><img src="assets/img/Edit.svg"></a>
                                    <a href="#"><img src="assets/img/print.svg"></a>
                                </div> -->
                            </div>
                        </div>
                        <!-- profile header end -->
                        <!-- profile details data start -->
                        <div class="profile_details">
                            <div class="profile_title">{{language.profile.club_address}}</div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="profile_field info_field">
                                        <span class="info_label">{{language.profile.street}}</span>
                                        <span class="info_detail" *ngIf="clubData">{{clubData.street}} {{clubData.street2}}</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="profile_field info_field">
                                        <span class="info_label">{{language.profile.city}}</span>
                                        <span class="info_detail" *ngIf="clubData">{{clubData.city}}</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="profile_field info_field">
                                        <span class="info_label">{{language.profile.country}}</span>
                                        <span class="info_detail" *ngIf="clubData">{{clubData.country}}</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="profile_field info_field">
                                        <span class="info_label">{{language.profile.zip_code}}</span>
                                        <span class="info_detail" *ngIf="clubData">{{clubData.postalcode}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- profile details data End -->
                        <!-- profile contact details data start -->
                        <div class="profile_details">
                            <div class="profile_title">{{language.profile.contact_data}}</div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="profile_field info_field">
                                        <span class="info_label">{{language.profile.userEmail}}</span>
                                        <!-- <span class="info_detail" *ngIf="clubData">{{clubData.email}}</span> -->
                                        <a class="info_detail" *ngIf="clubData" href="mailto:clubData.email">{{clubData.email}}</a>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="profile_field info_field">
                                        <span class="info_label">{{language.profile.phone}}</span>
                                        <!-- <span class="info_detail" *ngIf="clubData">{{clubData.phone}}</span> -->
                                        <a class="info_detail" *ngIf="clubData" href="tel:clubData.phone">{{clubData.phone}}</a>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="profile_field info_field">
                                        <span class="info_label">{{language.profile.homepage}}</span>
                                        <!-- <span class="info_detail" *ngIf="clubData">{{clubData.homepage}}</span> -->
                                        <a class="info_detail" *ngIf="clubData" target="_blank" href="{{clubData.homepage}}">{{clubData.homepage}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- profile Social link details data End -->
                        <div class="profile_details">
                            <div class="profile_title">{{language.social_link.social_links}}</div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="profile_field info_field">
                                        <span class="info_label">{{language.social_link.facebook_link}}</span>
                                        <!-- <span class="info_detail" *ngIf="clubData">{{clubData.email}}</span> -->
                                        <a class="info_detail" *ngIf="clubData" target="_blank" href="{{clubData.facebookLink}}">{{clubData.facebookLink}}</a>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="profile_field info_field">
                                        <span class="info_label">{{language.social_link.twitter_link}}</span>
                                        <!-- <span class="info_detail" *ngIf="clubData">{{clubData.phone}}</span> -->
                                        <a class="info_detail" *ngIf="clubData" target="_blank" href="{{clubData.twitterLink}}">{{clubData.twitterLink}}</a>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="profile_field info_field">
                                        <span class="info_label">{{language.social_link.instagram_link}}</span>
                                        <!-- <span class="info_detail" *ngIf="clubData">{{clubData.homepage}}</span> -->
                                        <a class="info_detail" *ngIf="clubData" target="_blank" href="{{clubData.instagramLink}}">{{clubData.instagramLink}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>