<div class="row">
    <div class="col-md-12 event_list_widget">
        <div class="card ">
            <div class="card-body ">

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="card-header ">
                            <h5 class="card-title">{{language.club_events.title}}</h5>
                            <button type="button" class="redirect_organizer" (click)="redirectCalendar()"><img src="assets/img/Calendar.svg">&nbsp;{{language.club_events.show_calendar}}</button>
                        </div>
                        <div class="event-list-d">
                            <div class="active_list">
                                <div class="event_list_title">{{language.club_events.today}}</div>
                                <div class="empty-data-image" *ngIf="currentEventLength">
                                    <img src="assets/img/no-event-img.png"><br>
                                    <span>{{language.club_events.no_events}}</span>
                                </div>
                                <div class="event_box active" *ngFor='let today of currentEvent'>
                                    <div class="event_box_left">
                                        <span class="event_month">{{todays_date | date: 'EEEE'}}</span>
                                        <span class="event_date">{{today.date_from | date: 'HH:mm': 'UTC' }}</span>
                                        <span class="event_year">{{today.date_to | date: 'HH:mm' : 'UTC'}}</span>
                                    </div>
                                    <div class="event_box_right">
                                        <span class="event-cat {{eventTypeList[today.type].class}}">{{eventTypeList[today.type].name}}</span>
                                        <h6><a routerLink="/event-detail/{{today.id}}">{{today.name}}</a></h6>
                                        <span class="event_location"><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;{{today.place}}</span>
                                        <span class="event_sub_title" innerHtml="{{today.description}}"></span>
                                        <span class="event_date">{{todays_date | date: 'd MMM y'}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="upcoming_list">
                                <div class="event_list_title">{{language.club_events.upcoming}}</div>
                                <div class="empty-data-image" *ngIf="upcomingEventLength">
                                    <img src="assets/img/no-event-img.png"><br>
                                    <span>{{language.club_events.no_events}}</span>
                                </div>
                                <div class="event_box" *ngFor='let upcoming of upcomingEvent'>
                                    <div class="event_box_left">
                                        <span class="event_month">{{upcoming.date_from | date: 'EEEE'}}</span>
                                        <span class="event_date">{{upcoming.date_from | date: 'HH:mm' : 'UTC'}}</span>
                                        <span class="event_year">{{upcoming.date_to | date: 'HH:mm' : 'UTC'}}</span>
                                    </div>
                                    <div class="event_box_right">
                                        <span class="event-cat {{eventTypeList[upcoming.type].class}}">{{eventTypeList[upcoming.type].name}}</span>
                                        <h6><a routerLink="/event-detail/{{upcoming.id}}">{{upcoming.name}}</a></h6>
                                        <span class="event_location"><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;{{upcoming.place}}</span><br/>
                                        <span class="event_sub_title" innerHtml="{{upcoming.description}}"></span><br/>
                                        <div class="event_sub_date">{{upcoming.date_from | date: 'd MMM y'}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- club wall bottom widget start -->
</div>