<div class="sidebar" data-color="white" data-active-color="danger">
    <div class="logo">
        <a routerLink="/dashboard" class="simple-text logo-mini">
            <div class="logo-image-small">
                <img src="../../../assets/img/brand_img.png">
            </div>
            <!-- <p>CT</p> -->
        </a>
        <button type="button" (click)="onShow()" class="navbar-toggler desk-toggle">
            <img class="menu_ic" src="../../../assets/img/menu_ic.png">
            <img class="back_ic" src="../../../assets/img/back_ic.png">
        </button>
    </div>
    <div class="sidebar-wrapper">
        <div class="nav-logo">
            <a routerLink="/profile-club">
                <img class="club-class" [src]="clubData.logourl != '' ? clubData.logourl : '../../../assets/img/nav-logo.png'">
                <!-- <img src="../../../assets/img/nav-logo.png"> -->
                <div class="club-name">{{clubData.name}}</div>
            </a>
        </div>
        <ul class="nav">
            <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                <a routerLink="/dashboard">
                    <p>{{language.menu.dashboard}}</p>
                </a>
            </li>
            <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: false}">
                <a routerLink="/clubwall" class="club_ic">
                    <p>{{language.menu.club_wall}}</p>
                </a>
                <a routerLink="/create-news" style="display: none;"></a>
                <a routerLink="/clubwall-news/1" style="display: none;"></a>
                <a routerLink="/update-news/:newsid" style="display: none;"></a>
            </li>
            <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                <a routerLink="/community" class="com_ic">
                    <p>{{language.menu.community}}</p>
                    <a routerLink="/create-group" style="display: none;"></a>
                    <a routerLink="/create-message" style="display: none;"></a>
                    <a routerLink="/create-chat" style="display: none;"></a>
                    <a routerLink="/group-detail/:id" style="display: none;"></a>
                </a>
            </li>
            <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                <a routerLink="/organizer" class="org_ic">
                    <p>{{language.menu.organizer}}</p>
                </a>
                <a routerLink="/create-event" style="display: none;"></a>
            </li>
            <li>
                <a href="#" class="mar_ic">
                    <p>{{language.menu.marketplace}}</p>
                </a>
            </li>
            <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                <a routerLink="/profile" class="pro_ic">
                    <p>{{language.menu.main_profile}}</p>
                </a>
                <a routerLink="/edit-profile" style="display: none;"></a>
                <a routerLink="/profile-bank" style="display: none;"></a>
                <a routerLink="/profile-edit-bank" style="display: none;"></a>
                <a routerLink="/profile-club" style="display: none;"></a>
                <a routerLink="/profile-my-club" style="display: none;"></a>
            </li>
            <li>
                <a target="_blank" href="{{userDetails.Club.linkToVV}}" class="administration_ic">
                    <p>{{language.header_club.club_administration}}</p>
                </a>
            </li>
            <hr>
            <li>
                <a href="#" class="wid_ic">
                    <p>{{language.menu.widget}}</p>
                </a>
            </li>
        </ul>
        <div class="footer-logo">
            <!-- <img src="assets/img/footer_menu_logo.png"> -->
            <img src="../../../assets/img/footer_menu_logo.png">
        </div>
    </div>
</div>