<div class="card-body ">
    <!-- task list inner -->
    <div class="widget-task widget" *ngFor="let task of allTasks">
        <div class="widget-app-content">
            <div class="app-left-content">
                <ul class="unstyled centered">
                    <li *ngIf="task && task.subtasks && task.subtasks.length > 0" [ngClass]="{ 'success_mark': task.status == 1}">
                        <input *ngIf="task.status != 1" class="check-style" id="styled-checkbox-{{task.id}}" type="checkbox" (change)="eventMarkComplete(task.id,task.subtasks.status)">
                        <input *ngIf="task.status == 1" class="check-style" id="styled-checkbox-{{task.id}}" type="checkbox">
                        <label for="styled-checkbox-{{task.id}}"><a class="task-lable" routerLink="/task-detail/{{task.id}}">{{task.title}}</a></label>
                    </li>
                    <li *ngIf="task && task.subtasks && task.subtasks.length == 0" [ngClass]="{ 'success_mark': task.status == 1}">
                        <input *ngIf="task.status != 1" class="check-style" id="styled-checkbox-{{task.id}}" type="checkbox" (change)="eventMarkComplete(task.id,1)">
                        <input *ngIf="task.status == 1" class="check-style" id="styled-checkbox-{{task.id}}" type="checkbox">
                        <label for="styled-checkbox-{{task.id}}"><a class="task-lable" routerLink="/task-detail/{{task.id}}">{{task.title}}</a></label>
                    </li>
                </ul>
            </div>
            <div class="app-right-content task_right">
                <span class="task_date">{{task.date | date: 'd MMM y'}}</span>
                <span class="priority_status success" *ngIf="task.status == 1">{{language.organizer_task.completed}}</span>
                <span class="priority_status warning" *ngIf="task.status == 0">
                    <span class="priority_low" *ngIf="calculateDiff(task.date) > 7 ">
                        {{language.organizer_task.low}}</span>
                <span class="priority_medium" *ngIf="calculateDiff(task.date) > 2  && calculateDiff(task.date) < 7">
                        {{language.organizer_task.medium}}</span>
                <span class="priority_high" *ngIf="calculateDiff(task.date) <= 2 ">
                        {{language.organizer_task.high}}</span>
                </span>                
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 empty-data-image" *ngIf="allTasks && allTasks.length == 0">
        <img src="assets/img/no-event-img.png"><br>
        <span>{{language.organizer_task.no_task_available}}</span>
    </div>
</div>

<div class="modal fade" tabindex="-1" tabindex="-1" aria-labelledby="exampleModalLabel" id="subtask">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{language.organizer_task.uncomplete_subrask}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{language.organizer_task.uncomplete_heading}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()" data-dismiss="modal">{{language.organizer_task.close_subtask}}</button>
      </div>
    </div>
  </div>
</div>