<div class="content">
    <div class="add_event_main event_main">
        <div class="row">
            <div class="col-md-12 add_event_content event_detail_main">
                <div class="card">
                    <div class="card-body" *ngIf="eventDetails">
                        <div class="profile_details">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="group_detail_main">
                                        <div class="group_img_sec">
                                            <div class="group_detail_img news_image_container">
                                                <!-- <img [src]="eventDetails.picture_video != '' ? imageurl : '../../assets/img/no_image.png'"> -->
                                                <img [src]="showImage ? imageurl : '../../../assets/img/no_image.png'">
                                                <!-- <img *ngIf="showImage == 'false'" src="../../assets/img/no_image.png">
                                                <img *ngIf="showImage == 'true'" src="imageurl"> -->
                                                <!-- <img *ngIf="!showImage" class="test" src="../../../assets/img/no_image.png" alt=""> -->
                                            </div>
                                            <div class="event_schedule">
                                                <div class="event_date">
                                                    <div class="event_date_ven"><span>{{eventDetails.date_from | date:'MMM'}}</span><br>{{eventDetails.date_from | date:'dd'}}</div>
                                                    <div class="event_day"><span>{{eventDetails.date_from | date:'EEEE'}}</span><br>{{eventDetails.date_from | date:'HH:mm a': 'UTC'}}</div>
                                                </div>
                                                <!-- <div class="event_pricing FREE" *ngIf="eventDetails.price_per_participant == 0 || eventDetails.price_per_participant == null"> -->
                                                <div class="event_pricing FREE" *ngIf="eventDetails.price_per_participant == null">
                                                    <span>{{language.organizer.price}}</span><br>{{language.organizer.free}}
                                                </div>
                                                <!-- <div class="event_pricing CHARGED" *ngIf="eventDetails.price_per_participant != 0 || eventDetails.price_per_participant != null"> -->
                                                <div class="event_pricing CHARGED" *ngIf="eventDetails.price_per_participant != null">
                                                    <span>{{language.organizer.price}}</span><br>{{eventDetails.price_per_participant}}
                                                </div>
                                            </div>
                                            <div class="dropdown action_group">
                                                <button class="dropdown-toggle" type="button" (click)="onShow()">
													<i class="nc-icon nc-bullet-list-67"></i>
												</button>

                                                <ul class="dropdown-menu bunch_drop" aria-labelledby="dropdownMenuLink">
                                                    <li><a class="dropdown-item" routerLink="/update-event/{{eventDetails.id}}">{{language.organizer.Edit}}</a></li>
                                                    <li><a class="dropdown-item" *ngIf="eventDetails" (click)="deleteEvents(eventDetails.id)">{{language.organizer.Delete}}</a></li>
                                                    <li><a class="dropdown-item" (click)="goBack()">{{language.organizer.Back}}</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="group_detail_content">
                                            <div class="group_title">
                                                <span class="">{{eventDetails.name}}</span>
                                            </div>
                                            <p [innerHTML]="eventDetails.description"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 all_participants">
                                    <div class="card organizer_card">
                                        <div class="card-header ">
                                            <h5 class="card-title">{{language.organizer.organizer}}</h5>
                                        </div>
                                        <div class="card-body" *ngIf="organizerDetails">
                                            <div class="widget-appointment widget">
                                                <div class="widget-app-content" *ngFor="let organizer of organizerDetails">
                                                    <div class="app-left-content">
                                                        <div class="parti_name">{{organizer?.firstname.charAt(0)}}{{organizer?.lastname.charAt(0)}}</div>
                                                        <div class="user-content">
                                                            <span class="user-name">{{organizer.firstname}} {{organizer.lastname}}</span>
                                                            <span class="participant_email">{{organizer.email}}</span>
                                                        </div>
                                                    </div>
                                                    <div class="app-right-content">
                                                        <span class="participant_status">
															<span class="status_badge approved"></span>{{language.organizer.approved}}
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card ">
                                        <div class="card-header ">
                                            <h5 class="card-title">{{language.organizer.all_participants}}</h5>
                                        </div>
                                        <div class="card-body">
                                            <div class="widget-appointment widget" *ngFor="let participant of approvedParticipants">
                                                <div class="widget-app-content">
                                                    <div class="app-left-content">
                                                        <div class="parti_name">{{participant?.firstname.charAt(0)}}{{participant?.lastname.charAt(0)}}</div>
                                                        <div class="user-content">
                                                            <span class="user-name">{{participant.firstname}} {{participant.lastname}}</span>
                                                            <span class="participant_email">{{participant.email}}</span>
                                                        </div>
                                                    </div>
                                                    <div class="app-right-content">
                                                        <span class="participant_status">
															<span class="status_badge approved"></span>{{language.organizer.approved}}
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="widget-appointment widget" *ngFor="let participant of unapprovedParticipants">
                                                <div class="widget-app-content">
                                                    <div class="app-left-content">
                                                        <div class="parti_name">{{participant?.firstname.charAt(0)}}{{participant?.lastname.charAt(0)}}</div>
                                                        <div class="user-content">
                                                            <span class="user-name">{{participant.firstname}} {{participant.lastname}}</span>
                                                            <span class="participant_email">{{participant.email}}</span>
                                                        </div>
                                                    </div>
                                                    <div class="app-right-content">
                                                        <span class="participant_status">
															<span class="status_badge pending"></span>{{language.organizer.pending}}
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>