<div class="row">
    <!-- tasks widget start -->
    <div class="col-md-12 task_widget">
        <div class="card ">
            <div class="card-header" id="task_head">
                <h5 class="card-title">{{language.organizer_task.title}}</h5>
            </div>
            <div class="tasks_navigation">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="head-allTask" (click)="onTasks('1')" >{{language.organizer_task.all_task}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="head-personalTask" (click)="onTasks('2')" >{{language.organizer_task.personal_task}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="head-groupTask" (click)="onTasks(3)" >{{language.organizer_task.group_task}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="head-createdTask" (click)="onTasks(4)" >{{language.organizer_task.created_task}}</a>
                    </li>
                </ul>
                <!-- Tab panes -->
            </div>
            <div class="tab-content">
                <div class="active" id="tabs-1"  *ngIf="displayAllTasks">
                    <app-organizer-all-task></app-organizer-all-task>
                </div>
                <div class="" id="tabs-2"  *ngIf="displayPersonalTasks">
                    <app-organizer-personal-task></app-organizer-personal-task>
                </div>
                <div class="" id="tabs-3"  *ngIf="displayGroupTasks">
                    <app-organizer-group-task></app-organizer-group-task>
                </div>
                <div class="" id="tabs-4"  *ngIf="displayCreatedTasks">
                    <app-organizer-created-task></app-organizer-created-task>
                </div>
            </div>
        </div>
        <!-- tasks widget End -->
        <!-- club wall bottom widget start -->
    </div>
</div>