<div class="community_widget_group">
    <!-- Community top widget start -->
    <div class="row">
        <div class="col-md-12 message_widget">
            <div class="chat-navigation">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" routerLink='chat' (click)="displayMessage('chat')" [ngClass]="displayChats == true ? 'active' : ''">{{language.community_messages.all_active_chat}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link per_ic" routerLink='./personal-msg' (click)="displayMessage('personal')" [ngClass]="displayPersonal == true ? 'active' : ''">{{language.community_messages.personal_messages}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link clu_ic" routerLink='club-msg' (click)="displayMessage('club')" [ngClass]="displayClub == true ? 'active' : ''">{{language.community_messages.club_messages}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link group_ic" routerLink='group-msg'  (click)="displayMessage('group')" [ngClass]="displayGroup == true ? 'active' : ''">{{language.community_messages.group_messages}}</a>
                    </li>
                </ul>
                <!-- Tab panes -->
            </div>
            <div class="card" *ngIf="displayChats == true">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="tab-content">
                                <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                    <div class="chat_messager-widget">
                                        <div class="chat-sidebar">
                                            <div class="chat-search">
                                                <form>
                                                    <div class="input-group no-border">
                                                        <div class="input-group-append">
                                                            <div class="input-group-text">
                                                                <img src="assets/img/Search.svg">
                                                            </div>
                                                        </div>
                                                        <input type="text" value="" class="form-control" placeholder="{{language.community_messages.search}}...">
                                                    </div>
                                                </form>
                                            </div>
                                            <!-- user group info -->
                                            <!-- chat sidebar widget start -->
                                            <div class="widget-chat widget">
                                                <!-- user group info inner -->
                                                <!-- <div class="widget-app-content">
                                                    <div class="app-left-content">
                                                        <div class="user-img"><img src="assets/img/faces/joe-gardner-1.jpg"></div>
                                                        <div class="user-content">
                                                            <span class="user-name">Nicholas Gordon</span>
                                                            <h6>About our new project</h6>
                                                            <p>Moreover the striking, brillint and vivid colors</p>
                                                        </div>
                                                    </div>
                                                    <div class="app-right-content">
                                                        <span class="seen-time">10m</span>
                                                    </div>
                                                </div> -->
                                                <!-- user group info inner -->
                                                <!-- user group info inner -->
                                                <div class="widget-app-content" *ngFor='let chat of chatHistory' id="chat-{{chat.id}}">
                                                    <div class="app-left-content" (click)="clickChat(chat.id)">
                                                        <div class="user-img"><img src="assets/img/faces/joe-gardner-1.jpg"></div>
                                                        <div class="user-content">
                                                            <span class="user-name">{{chat.name}}</span>
                                                            <span class="user-name" *ngIf="chat.type == 'individual'">{{chat.username}}</span>
                                                            <h6>{{chat.name}}</h6>
                                                            <p>{{chat.lastMessage.message}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="app-right-content">
                                                        <span class="seen-time">{{chat.lastMessage.timestamp | date: 'd
                                                            MMM'}}</span><br/>
                                                        <span class="seen-time">{{chat.lastMessage.timestamp | date:
                                                            'HH:mm'}}</span>
                                                        <i *ngIf="chat.lastMessage.read == 'false'" id="envelope-{{chat.id}}" class="fa fa-envelope-o" aria-hidden="true"></i>
                                                        <i *ngIf="chat.lastMessage.read == 'true'" id="envelope-open-{{chat.id}}" class="fa fa-envelope-open-o" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                                <!-- user group info inner -->
                                            </div>
                                            <!-- user group info End-->
                                            <div class="chat-bottom-overlay"></div>
                                        </div>
                                        <!-- <div class="chat-divider"></div> -->
                                    </div>
                                    <!-- chat sidebar widget end -->
                                    <div class="chat-screen" *ngIf="selectedChat">
                                        <div class="chat-content">
                                            <div class="inner-chat">
                                                <div class="chat-header">
                                                    <div class="chat-user-img">
                                                        <img src="assets/img/faces/joe-gardner-1.jpg">
                                                    </div>
                                                    <!-- <div class="chat-user-name">To Jeremy Johnson</div> -->
                                                    <div class="chat-user-name" *ngIf="selectedChat && selectedChat.type=='group'">{{language.create_message.participantsto}}
                                                        <span *ngFor="let member of selectedChat.members">
                                                            <span *ngIf="member" class="to-username"
                                                                tooltip="{{member.username}}" placement="bottom"
                                                                delay="500">{{member.firstName}}, </span>
                                                        </span>
                                                    </div>
                                                    <div class="chat-user-name" *ngIf="selectedChat && selectedChat.type=='individual'">{{language.create_message.participantsto}}
                                                        <span>
                                                            <span class="to-username"
                                                                tooltip="{{selectedChat.username}}" placement="bottom"
                                                                delay="500">{{selectedChat.username}}</span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <h2 *ngIf="selectedChat">{{selectedChat.name}}</h2>
                                                <p *ngIf="selectedChat">{{selectedChat.lastMessage.message}}</p>
                                            </div>
                                        </div>
                                        <div class="chat-form">
                                            <div class="chat-form-inner">
                                                <div class="chat-text-area">
                                                    <textarea type="text" placeholder="Type to compose your reply"></textarea>
                                                </div>
                                                <div class="chat-btn-group">
                                                    <div class="chat_upload_btn"><input type="file" name="">
                                                        <Span class="attach_icon"><img
                                                                src="assets/img/attach.svg"></Span>
                                                    </div>
                                                    <div class="chat_sent_btn"><button type="button"><i
                                                                class="nc-icon nc-minimal-right"></i></button></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tabs-2" role="tabpanel">
                                    <p>Second Panel</p>
                                </div>
                                <div class="tab-pane" id="tabs-3" role="tabpanel">
                                    <p>Third Panel</p>
                                </div>
                                <div class="tab-pane" id="tabs-4" role="tabpanel">
                                    <p>Third Panel</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <app-personal-messages *ngIf="displayPersonal == true"></app-personal-messages>
            <app-club-messages *ngIf="displayClub == true"></app-club-messages>
            <app-group-messages *ngIf="displayGroup == true"></app-group-messages>
        
        </div>
    </div>
    <!-- Community top widget start -->
</div>