<div class="row">
    <div class="col-md-12 club_calendar_widget">
        <div class="card ">
            <div class="card-body organizer_appointement">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-header task_head">
                            <h5 class="card-title">{{language.organizer.events_appointments_title}}</h5>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="calendar-widget">
                            <!-- <full-calendar *ngIf="calendarEvents.length" [options]="calendarOptions"></full-calendar> -->
                            <!-- <full-calendar [options]="calendarOptions"></full-calendar> -->
                            <full-calendar *ngIf="calendarEvents.length" [options]="calendarOptionsTimeGrid" height="parent"></full-calendar>
                            <div class="modalContainer">
                                <button type="button" style="display: none;" id="showPopup" class="disabled" data-bs-toggle="modal" data-bs-target="#exampleModal">{{language.profile.change_password}}</button>
                                <div class="modal fade change_pass_section event_model" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel"></h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeModal()" aria-label="Close"><i
                                                        class="nc-icon nc-simple-remove"></i></button>
                                            </div>
                                            <div class="modal-body">
                                                <!-- <h6>hiihi {{newClickedEvent.ui}}</h6> -->
                                                <div class="event-widget" [ngClass]="newClickedEvent.classNames[0]" *ngIf="calendarEventClicked == true">
                                                    <div class="class_title">{{newClickedEvent.title}}</div>
                                                    <div class="class_duration">
                                                        <span class="event-day">{{newClickedEvent.start |
                                                            date:'short':'UTC'}}   </span>
                                                        <span class="event-day">{{newClickedEvent.end |
                                                            date:'short':'UTC' }}</span>
                                                    </div>
                                                    <div class="class_description">
                                                        <p innerHtml="{{newClickedEvent.extendedProps.description}}"></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary change_btn" (click)="viewDetails()">{{language.community_groups.read_more}}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-lg-5 col-md-5 col-sm-5"> -->
                    <!-- <div class="upcoming_event">
                            <div class="event-widget wd_yellow" *ngIf="calendarEventClicked == true">
                                <div class="event-left">
                                    <span class="event-day">From - {{newClickedEvent.start | date:'short':'UTC'}}</span>
                                    <span class="event-day">To - {{newClickedEvent.end | date:'short':'UTC' }}</span>
                                </div>
                                <div class="event-right">
                                    <div class="event-detail">
                                        <span class="event-cat "></span>
                                        <a routerLink="#">
                                            <h6>Event Name - {{newClickedEvent.title}}</h6>
                                        </a>
                                        <p innerHtml="{{newClickedEvent.description}}"></p>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    <!-- New Section For Events -->
                    <!-- <div class="upcoming_event" *ngIf="clickedEventData.length > 0 && calendarClicked == true">
                            <div class="event-widget wd_yellow" *ngFor="let clickedEvent of clickedEventData">
                                <div class="event-left">
                                    <span class="event-day">{{clickedEvent.start | date: 'EEEE'}}</span>
                                    <span class="event-time">{{clickedEvent.start | date: 'shortTime': 'UTC' }}</span>
                                    <span class="event-r-time">{{clickedEvent.end | date: 'shortTime': 'UTC' }}</span>
                                </div>
                                <div class="event-right">
                                    <div class="event-detail">
                                        <span class="event-cat {{eventTypeList[clickedEvent.type].class}}">{{eventTypeList[clickedEvent.type].name}}</span>
                                        <a routerLink="/event-detail/{{clickedEvent.event_id}}">
                                            <h6>{{clickedEvent.title}}</h6>
                                        </a>
                                        <p innerHtml="{{clickedEvent.description}}"></p>
                                    </div>
                                </div>
                            </div>
                        </div> -->


                    <!-- <div class="col-lg-12 col-md-12 col-sm-12 empty-data-image" *ngIf="clickedEventData.length == 0 && calendarClicked==true">
                            <img src="assets/img/no-event-img.png"><br>
                            <span>{{language.club_events.no_events}}</span>
                        </div> -->
                    <!-- <div *ngIf="clickedEventData.length==0 && calendarClicked==false">
                            <div class="todays_event" *ngIf="currentEvent.length">
                                <div class="event-widget wd_blue" *ngFor='let today of currentEvent'>
                                    <div class="event-left">
                                        <span class="event-day">{{today.date_from | date: 'EEEE'}}</span>
                                        <span class="event-time">{{today.date_from | date: 'HH:mm': 'UTC' }}</span>
                                        <span class="event-r-time">{{today.date_to | date: 'HH:mm': 'UTC' }}</span>
                                    </div>
                                    <div class="event-right">
                                        <div class="event-detail">
                                            <span class="event-cat {{eventTypeList[today.type].class}}">{{eventTypeList[today.type].name}}</span>
                                            <a routerLink="/event-detail/{{today.id}}">
                                                <h6>{{today.name}}</h6>
                                            </a>
                                            <p class="event-description" innerHtml="{{today.description}}"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 empty-data-image" *ngIf="currentEvent.length == 0">
                                <img src="assets/img/no-event-img.png"><br>
                                <span>{{language.club_events.no_events}}</span>
                            </div>
                        </div> -->
                    <!-- event data End -->
                    <!-- Upcoming event data start -->
                    <!-- <div class="upcoming_event" *ngIf="upcomingEvent.length">
                            <div class="event-widget wd_yellow" *ngFor="let upcoming of upcomingEvent">
                                <div class="event-left">
                                    <span class="event-day">{{upcoming.date_from | date: 'EEEE'}}</span>
                                    <span class="event-time">{{upcoming.date_from | date: 'HH:mm'}}</span>
                                    <span class="event-r-time">{{upcoming.date_to | date: 'HH:mm'}}</span>
                                </div>
                                <div class="event-right">
                                    <div class="event-detail">
                                        <span class="event-cat">{{language.organizer.event_meeting}}</span>
                                        <h6>{{upcoming.name}}</h6>
                                        <p innerHtml="{{upcoming.description}}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 empty-data-image" *ngIf="upcomingEvent.length == 0">
                            <img src="assets/img/no-event-img.png"><br>
                            <span>{{language.club_events.no_events}}</span>
                        </div> -->
                    <!-- Upcoming event data End -->
                    <!-- </div> -->
                </div>
            </div>
        </div>
        <!-- Events grid list view start -->
        <!-- tasks widget start -->
        <div class="event_grid_widget">
            <div class="card ">
                <div class="card-body ">
                    <div class="card-header ">
                        <h5 class="card-title">{{language.organizer.event_title}}</h5>
                    </div>
                    <div class="tasks_navigation">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link" (click)="onTodayEvents()" [ngClass]="isTodayEvents == true ? 'active' : ''" data-toggle="tab" role="tab">{{language.organizer.event_today}}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" (click)="onUpcomingEvents()" [ngClass]="isUpcomingEvents == true ? 'active' : ''" role="tab">{{language.organizer.event_upcoming}}</a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="filter-events">
                            <select id="filter_events" (click)="eventFilter()">
                                <option value="1">{{language.create_event.club_event}}</option>
                                <option value="2">{{language.create_event.group_event}}</option>
                                <option value="3">{{language.create_event.functionaries_event}}</option>
                                <option value="4">{{language.create_event.courses}}</option>
                                <option value="5">{{this.language.create_event.seminar}}</option>
                                <option selected value="0">{{this.language.create_event.showall}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane" id="tabs-1" role="tabpanel" [ngClass]="isTodayEvents == true ? 'active' : ''" *ngIf="isTodayEvents == true">
                            <div class="row eve_grid_main">
                                <!-- <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let today of currentEvent"> -->
                                <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let today of currentEventList">
                                    <div class="news-widget">
                                        <div class="news-image">
                                            <img [src]="today.picture_video != '' ? today.picture_video : '../../../assets/img/no_image.png'">
                                            <!-- <img class="test" *ngIf="today.picture_video" src="../../assets/img/no_image.png"> -->
                                            <div class="image_over_date">
                                                <span class="over_date">{{todays_date | date: 'dd'}}</span>
                                                <span class="over_month">{{todays_date | date: 'MMM'}}</span>
                                            </div>
                                        </div>
                                        <div class="news-content">
                                            <span class="event-cat {{eventTypeList[today.type].class}}">{{eventTypeList[today.type].name}}</span>
                                            <a routerLink="/event-detail/{{today.id}}">
                                                <h5>{{today.name}}</h5>
                                            </a>
                                            <!-- <p class="event-day">{{today.date_from | date: 'EEEE' | lowercase}}</p> -->
                                            <p class="event-day">{{today.date_from | date: 'EEEE' }}</p>
                                            <p class="event-time">{{today.date_from | date: 'HH:mm': 'UTC' }} - {{today.date_to | date: 'HH:mm': 'UTC' }}</p>
                                            <!-- <span class="event_tag">@ Algolia{{today.author}}</span> -->
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="col-lg-12 col-md-12 col-sm-12 empty-data-image" *ngIf="currentEvent.length == 0"> -->
                                <div class="col-lg-12 col-md-12 col-sm-12 empty-data-image" *ngIf="currentEventList.length == 0">
                                    <img src="assets/img/no-event-img.png"><br>
                                    <span>{{language.club_events.no_events}}</span>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="tabs-2" role="tabpanel" [ngClass]="isUpcomingEvents == true ? 'active' : ''" *ngIf="isUpcomingEvents == true">
                            <div class="row eve_grid_main">
                                <!-- <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let upcoming of upcomingEvent"> -->
                                <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let upcoming of upcomingEventList">
                                    <div class="news-widget">
                                        <div class="news-image">
                                            <img [src]="upcoming.picture_video != '' ? upcoming.picture_video : 'assets/img/damir-bosnjak.jpg'">
                                            <div class="image_over_date">
                                                <!-- {{upcoming.date_to | date [ : format [ : timezone [ : locale ] ] ]}} -->
                                                <!-- {{upcoming.date_to | date : 'dd' : Z }} -->
                                                <span class="over_date">{{upcoming.date_to | date : 'dd'}}</span>
                                                <span class="over_month">{{upcoming.date_to | date: 'MMM'}}</span>
                                            </div>
                                        </div>
                                        <div class="news-content">
                                            <span class="event-cat {{eventTypeList[upcoming.type].class}}">{{eventTypeList[upcoming.type].name}}</span>
                                            <a routerLink="/event-detail/{{upcoming.id}}">
                                                <h5>{{upcoming.name}}</h5>
                                            </a>
                                            <p class="event-day">{{upcoming.date_from | date: 'EEEE'}}</p>
                                            <p class="event-time">{{upcoming.date_from | date: 'HH:mm': 'UTC' }} - {{upcoming.date_to | date: 'HH:mm': 'UTC' }}</p>
                                            <!-- <span class="event_tag">@ Algolia {{upcoming.author}}</span> -->
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="col-lg-12 col-md-12 col-sm-12 empty-data-image" *ngIf="upcomingEvent.length == 0"> -->
                                <div class="col-lg-12 col-md-12 col-sm-12 empty-data-image" *ngIf="upcomingEventList.length == 0">
                                    <img src="assets/img/no-event-img.png"><br>
                                    <span>{{language.club_events.no_events}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-3" role="tabpanel">
                            <p>Third Panel</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- tasks widget End -->

            <!-- Events grid list view start -->
        </div>

    </div>