@media only screen and (max-width: 1480px) and (min-width: 1261px){
	.row.eve_grid_main .col-lg-3.col-md-6.col-sm-6{
		flex: 0 0 33.3%;
        max-width: 33.3%;
	}
}
@media only screen and (max-width: 1260px) and (min-width: 1024px){
	.row.eve_grid_main .col-lg-3.col-md-6.col-sm-6{
		flex: 0 0 50%;
        max-width: 50%;
	}
}
.row.eve_grid_main .news-image img {
    width: 100%;
    margin: auto;
    text-align: center;
    object-fit: cover;
    height: 100%;
}
.row.eve_grid_main .news-image{
	height: 210px;
	overflow: hidden;
}

@media screen and (max-width: 600px) {
   .card{
    margin-right: 0px;
    margin-left: 0px;
}
.event_grid_widget .tasks_navigation{
    display: inline-block !important;
    width: 100%;
}
}
.event_grid_widget .tasks_navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filter-events select{
    width: 100%;
    height: 45px;
    background: #FAFBFC;
    border: 1px solid #EDF0F3;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 10px;
}
.filter-events select:focus{
    outline: none;
}
.event_grid_widget .tasks_navigation {
    padding: 0;
}
 .card{
    margin-right: 0px;
    margin-left: 0px;
}

.event_box_right span {
    display: inline-block;
    width: 100%;
}
span.event_location i {
    position: relative;
    top: 2px;
}
span.event_location {
    font-family: 'poppinssemibold';
    text-transform: capitalize;
    color: #d6860e;
}
p.event-day {
    font-size: 12px;
    color: #E12217;
}
.club_calendar_widget .card {
    background: #e9ebf1;
    box-shadow: none;
}
.fc-view-harness.fc-view-harness-active {
    background: #fff !important;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: transparent;
}