@media only screen and (max-width: 1480px) and (min-width: 1261px){
	.row.eve_grid_main .col-lg-3.col-md-6.col-sm-6{
		flex: 0 0 33.3%;
        max-width: 33.3%;
	}
	.create_msg_main .widget-appointment.widget {
    max-height: 84vh !important;
}
}
@media only screen and (max-width: 1260px) and (min-width: 1024px){
	.row.eve_grid_main .col-lg-3.col-md-6.col-sm-6{
		flex: 0 0 50%;
        max-width: 50%;
	}
}
@media only screen and (max-width: 1024px) and (min-width: 768px){
.row.cm_row .col-md-6 {
    max-width: 100%;
    flex: 0 0 100%;
}
}
.event_field.all_participants .card{
	box-shadow: none;
}
.create_msg_main .widget-appointment.widget {
    max-height: 65vh;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 10vh;
}
.event_field.all_participants .card-body, .event_field.all_participants .card-header {
    padding: 0;
}
.create_msg_main .parti_name{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #fff;
    background: #4fb96d;
    border-radius: 50%;
    margin-right: 10px;
}
.create_msg_main .widget-appointment.widget h5.card-title {
    font-size: 18px;
    font-family: 'poppinssemibold';
}
.create_msg_main .widget-app-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 5px 10px;
    box-shadow: 0px 0px 4px 1px #eaeaff;
    border-radius: 10px;
}
@media only screen and (max-width: 1260px) and (min-width: 1025px){
.widget-app-content {
    display: inline-block;
    justify-content: space-between;
    margin-bottom: 20px;
}
.app-right-content {
    float: right;
}
}
@media only screen and (max-width: 1024px){
.col-md-12.add_event_content.create_group_section .col-md-6 {
    max-width: 100%;
    flex: 0 0 100%;
}
}
@media only screen and (max-width: 767px){
.col-md-6.all_participants .card-body {
    padding: 0;
}
.widget-app-content {
    display: flex;
    width: 100%;
}
.profile_main_head {
    margin-bottom: 0;
}
.profile_title{
    margin:0px;
}
}
@media only screen and (max-width: 500px){
.all_participants .user-content {
    padding-top: 6px;
    color: #192838;
    width: 227px;
    float: left;
}
.app-right-content {
    float: right;
}
}
@media only screen and (max-width: 320px){
.all_participants .user-content {
    width: 192px;
}
}

@media only screen and (max-width: 600px){
    .widget-app-content {
    display: inline-block;
    width: 100%;
}
}
.user-content {
    padding-top: 0;
}