<div class="content" *ngIf="participateAccess.message == 'Yes' || participateAccess.groups == 'Yes'">
    <div class="row">
        <div class="col-md-12 page-main">
            <div class="page-title">
                <img src="assets/img/com_ic.svg">
                <h2>{{language.community.title}}</h2>
            </div>
            <div class="all_btn_group btn_collapse">
                <div class="title-btn-group">
                    <button type="button" id="messageTab" routerLink="./community-messages" (click)="onMessages()" [ngClass]="displayMessages == true ? 'selected' : 'disabled'">{{language.community.messages}} <!-- <span class="community-count"> ( {{communityCount}} )</span> --> </button>
                    <button type="button" id="groupTab" routerLink="community-groups" (click)="onGroups()" [ngClass]="displayGroups == true ? 'selected' : 'disabled'">{{language.community.groups}}</button>
                </div>
                <div class="fixed_btn_group">
                    <ul>
                        <li><button id="messageTab" style="border-bottom-left-radius: 12px" type="button" (click)="onMessages()" [ngClass]="displayMessages == true ? 'selected' : 'disabled'">{{language.community.messages}}</button></li>
                        <li><button id="groupTab" style="border-bottom-right-radius: 12px" type="button" (click)="onGroups()" [ngClass]="displayGroups == true ? 'selected' : 'disabled'">{{language.community.groups}}</button>
                        </li>
                    </ul>
                </div>
                <div class="title-btn-group right-btn-group">
                    <button type="button" class="disabled" *ngIf="createAccess.chat == 'Yes'" routerLink="/create-chat">&nbsp;{{language.community.new_chat}}</button>
                    <button type="button" class="disabled" *ngIf="createAccess.message == 'Yes'" routerLink="/create-message">&nbsp;{{language.community.new_message}}</button>
                    <button type="button" class="disabled" *ngIf="createAccess.groups == 'Yes'" routerLink="/create-group">&nbsp;{{language.community.new_group}}</button>
                </div>
            </div>
        </div>
    </div>
    <app-community-messages *ngIf="displayMessages == true && participateAccess.message == 'Yes'"></app-community-messages>
    <app-community-groups *ngIf="displayGroups == true && participateAccess.groups == 'Yes'"></app-community-groups>
</div>
<div class="content" *ngIf="participateAccess.message == 'No' || participateAccess.groups == 'No'">
    <div class="row">
        <div class="col-md-12 page-main">
            <div class="page-title">
                <img src="assets/img/com_ic.svg">
                <h2>{{language.community.title}}</h2>
            </div>
            <div class="not-available-user">
                {{language.genral_message.not_available_msg}}
            </div>
        </div>
    </div>
</div>