<nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <div class="navbar-toggle">
                <button type="button" (click)="onOpen()" [ngClass]="showMenu == true ? 'open' : ''" class="navbar-toggler">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                    <span class="navbar-close"><i class="nc-icon nc-simple-remove"></i></span>
                </button>
            </div>
            <form>
                <div class="input-group no-border">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <i class="nc-icon nc-zoom-split"></i>
                        </div>
                    </div>
                    <input type="text" value="" class="form-control" placeholder="{{language.header.search}}">
                </div>
            </form>
            <button class="navbar-toggler right-toggler" type="button" (click)="onShow()" [ngClass]="showToggle == true ? 'show' : ''">
                <span class="navbar-toggler-bar navbar-kebab"></span>
                <span class="navbar-toggler-bar navbar-kebab"></span>
                <span class="navbar-toggler-bar navbar-kebab"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <ul class="navbar-nav">
                <li class="nav-item dropdown add_dropdown" *ngIf="createAccess.message == 'Yes' || createAccess.task == 'Yes' || createAccess.news == 'Yes' || createAccess.event == 'Yes' || createAccess.task == 'Yes' || createAccess.groups == 'Yes'">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink1" id="dropdownMenuButton1" aria-haspopup="true" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="../../../assets/img/Plus.svg">
                        <p>
                            <span class="d-lg-none d-md-block">Add</span>
                        </p>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right add-action" aria-labelledby="navbarDropdownMenuLink1">
                        <ul>
                            <li *ngIf="createAccess.message == 'Yes'"><a routerLink="create-message"><i class="nc-icon nc-email-85"></i>&nbsp;&nbsp;{{language.header.messages}}</a>
                            </li>
                            <li *ngIf="createAccess.task == 'Yes'"><a routerLink="/create-chat"><i class="nc-icon nc-chat-33"></i>&nbsp;&nbsp;{{language.header.chat}}</a></li>
                            <li *ngIf="createAccess.news == 'Yes'"><a routerLink="/create-news"><i class="nc-icon nc-planet"></i>&nbsp;&nbsp;{{language.header.news}}</a></li>
                            <li *ngIf="createAccess.event == 'Yes'"><a routerLink="/create-event"><i class="nc-icon nc-paper"></i>&nbsp;&nbsp;{{language.header.event}}</a></li>
                            <li *ngIf="createAccess.task == 'Yes'"><a routerLink="create-task"><i class="nc-icon nc-book-bookmark"></i>&nbsp;&nbsp;{{language.header.task}}</a></li>
                            <li *ngIf="createAccess.groups == 'Yes'"><a routerLink="create-group"><i class="nc-icon nc-single-copy-04"></i>&nbsp;&nbsp;{{language.header.group}}</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item dropdown" *ngIf="!userDetails.guestUser">
                    <a class="nav-link dropdown-toggle" href="javascript:;">
                        <img src="../../../assets/img/chat_ic.svg">
                        <p>
                            <span class="d-lg-none d-md-block">Chat</span>
                        </p>
                    </a>
                </li>
                <li class="nav-item dropdown notification_dropdown" *ngIf="!userDetails.guestUser">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink2" id="dropdownMenuButton1" aria-haspopup="true" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="../../../assets/img/notification_wbadge.png">
                        <span class="badge-menu"></span>
                        <p>
                            <span class="d-lg-none d-md-block">Notification</span>
                        </p>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right user-action" aria-labelledby="navbarDropdownMenuLink2">
                        <div class="notification-drop-info">
                            <!-- Group Notification message start -->
                            <!-- <div class="notification_heading">Groups</div> -->
                            <div class="notification-panle" *ngFor='let group of groupNotifications'>
                                <div class="notification_user">
                                    <span class="notification_name">{{group.user.firstname.charAt(0)}}{{group.user.lastname.charAt(0)}}</span>
                                </div>
                                <div class="notification_message">
                                    <p>{{group.user.firstname}} {{group.user.lastname}} {{language.header.want_to_join_a_group_called}} <a routerLink="/group-detail/{{group.group_id}}">{{group.group.name}}</a></p>
                                    <!-- <small>1 Hours ago</small> -->
                                    <div class="notification-btn-group">
                                        <button class="accept_btn" type="button" (click)="joinGroup(group.group_id, group.user_id)">{{language.header.accept}}</button>
                                        <button class="deny_btn" type="button" (click)="denyGroup(group.group_id, group.user_id)">{{language.header.deny}}</button>
                                    </div>
                                </div>
                                <div class="notification_divider"></div>
                            </div>
                            <!-- Group Notification message End -->

                            <div class="notification-panle" *ngFor='let group of unapprovedGroups'>
                                <ng-container *ngIf="group.created_by > 0">
                                    <div class="notification_user">
                                        <span class="notification_name">{{alluserDetails[group.created_by]?.firstname.charAt(0)}}{{alluserDetails[group.created_by]?.lastname.charAt(0)}}
                                        </span>
                                    </div>
                                    <div class="notification_message">
                                        <p>{{alluserDetails[group.created_by]?.firstname}} {{alluserDetails[group.created_by]?.lastname}} {{language.header.invited_you_to}} <a routerLink="/group-detail/{{group.group_id}}">{{group.name}}</a> {{language.header.group}}
                                        </p>
                                        <!-- <small>1 Hours ago</small> -->
                                        <div class="notification-btn-group">
                                            <button class="accept_btn" type="button" (click)="acceptGroup(group.id)">{{language.header.accept}}</button>
                                            <button class="deny_btn" type="button" (click)="rejectGroup(group.id)">{{language.header.deny}}</button>
                                        </div>
                                    </div>
                                    <div class="notification_divider"></div>
                                </ng-container>
                            </div>

                            <!-- New Notification message start -->
                            <!-- <div class="notification_heading">News</div> -->
                            <div class="notification-panle" *ngFor='let news of newsNotifications'>
                                <div class="notification_user">
                                    <span class="notification_name">{{news.user.firstname.charAt(0)}}{{news.user.lastname.charAt(0)}}</span>
                                </div>
                                <div class="notification_message">
                                    <p>{{news.user.firstname}} {{news.user.lastname}} {{language.header.want_to_publish_an_Article_called}} <a routerLink="/clubnews/{{news.id}}">{{news.title}}</a></p>
                                    <!-- <small>1 Hours ago</small> -->
                                    <div class="notification-btn-group">
                                        <button class="accept_btn" type="button" (click)="acceptNews(news.id)">{{language.header.accept}}</button>
                                        <button class="deny_btn" type="button" (click)="denyNews(news.id)">{{language.header.deny}}</button>
                                    </div>
                                </div>
                                <div class="notification_divider"></div>
                            </div>
                            <!-- News Notification message End -->
                            <!-- New Notification message start -->
                            <div class="notification-panle" *ngFor='let events of eventsNotifications'>
                                <div class="notification_user">
                                    <span class="notification_name">{{events.user.firstname.charAt(0)}}
                                        {{events.user.lastname.charAt(0)}}</span>
                                </div>
                                <div class="notification_message">
                                    <p>{{events.user.firstname}} {{events.user.lastname}} {{language.header.want_to_publish_an_Event_calles}} <a routerLink="/event-detail/{{events.id}}">{{events.name}}
                                        </a>{{language.header.event | lowercase}}
                                    </p>
                                    <div class="notification-btn-group">
                                        <button class="accept_btn" type="button" (click)="approvedEvents(events.id)">{{language.header.accept}}</button>
                                        <button class="deny_btn" type="button" (click)="unapprovedEvent(events.id)">{{language.header.deny}}</button>
                                    </div>
                                </div>
                                <div class="notification_divider"></div>
                            </div>
                            <!-- <div class="notification_heading">Invited Events</div> -->
                            <div class="notification-panle" *ngFor='let events of invitedEventsNotifications'>
                                <ng-container *ngIf="events.author > 0">
                                    <div class="notification_user">
                                        <span class="notification_name" *ngIf="alluserDetails">{{alluserDetails[events.author]?.firstname.charAt(0)}}{{alluserDetails[events.author]?.lastname.charAt(0)}}
                                        </span>
                                    </div>
                                    <div class="notification_message">
                                        <p *ngIf="alluserDetails">
                                            {{alluserDetails[events.author]?.firstname}} {{alluserDetails[events.author]?.lastname}} {{language.header.invited_you_to}} <a routerLink="/event-detail/{{events.id}}">{{events.name}}</a> {{ language.header.event
                                            | lowercase }}
                                        </p>
                                        <!-- <small>1 Hours ago</small> -->
                                        <div class="notification-btn-group">
                                            <button class="accept_btn" type="button" (click)="acceptInvitedEvent(events.id)">{{language.header.accept}}</button>
                                            <button class="deny_btn" type="button" (click)="denyInvitedEvent(events.id)">{{language.header.deny}}</button>
                                        </div>
                                    </div>
                                    <div class="notification_divider"></div>
                                </ng-container>
                            </div>
                            <!-- News Notification message End -->
                            <div class="notification-panle" *ngFor='let task of taskNotifications'>
                                <div class="notification_user">
                                    <span class="notification_name" *ngIf="alluserDetails">{{alluserDetails[task.organizer_id]?.firstname.charAt(0)}}{{alluserDetails[task.organizer_id]?.lastname.charAt(0)}}
                                    </span>
                                </div>
                                <div class="notification_message">
                                    <p *ngIf="alluserDetails">{{alluserDetails[task.organizer_id]?.firstname}} {{alluserDetails[task.organizer_id]?.lastname}} {{language.header.want_to_publish_a_Task_called}} <a routerLink="/task-detail/{{task.id}}">{{task.title}}</a> {{language.header.task}}
                                    </p>
                                    <div class="notification-btn-group">
                                        <button class="accept_btn" type="button" (click)="adminApprovedTasks(task.id)">{{language.header.accept}}</button>
                                        <button class="deny_btn" type="button" (click)="adminUnapprovedTasks(task.id)">{{language.header.deny}}</button>
                                    </div>
                                </div>
                                <div class="notification_divider"></div>
                            </div>
                            <!-- <div class="notification_heading">Invited Events</div> -->
                            <div class="notification-panle" *ngFor='let task of unapprovedTasks'>
                                <ng-container *ngIf="task.organizer_id > 0">
                                    <div class="notification_user">
                                        <span class="notification_name" *ngIf="alluserDetails">{{alluserDetails[task.organizer_id]?.firstname.charAt(0)}}{{alluserDetails[task.organizer_id]?.lastname.charAt(0)}}
                                        </span>
                                    </div>
                                    <div class="notification_message">
                                        <p *ngIf="alluserDetails">{{alluserDetails[task.organizer_id]?.firstname}} {{alluserDetails[task.organizer_id]?.lastname}} {{language.header.invited_you_to}} <a routerLink="/task-detail/{{task.id}}">{{task.title}}</a> {{language.header.task}}
                                        </p>
                                        <!-- <small>1 Hours ago</small> -->
                                        <div class="notification-btn-group">
                                            <button class="accept_btn" type="button" (click)="acceptInvitedTask(task.id)">{{language.header.accept}}</button>
                                            <button class="deny_btn" type="button" (click)="denyInvitedTask(task.id)">{{language.header.deny}}</button>
                                        </div>
                                    </div>
                                    <div class="notification_divider"></div>
                                </ng-container>
                            </div>

                            <div class="notification-panle" *ngFor='let message of messageNotifications'>
                                <ng-container>
                                    <div class="notification_user">
                                        <span class="notification_name">{{message.user.firstName.charAt(0)}}{{message.user.lastName.charAt(0)}}
                                        </span>
                                    </div>
                                    <div class="notification_message">
                                        <p *ngIf="alluserDetails">{{message.user.firstName}} {{message.user.lastName}} {{language.header.want_to_send_message_called}} {{message.subject}}</p>
                                        <div class="notification-btn-group">
                                            <button class="accept_btn" type="button" (click)="acceptMessage(message.id, message.esdb_id)">{{language.header.accept}}</button>
                                            <button class="deny_btn" type="button" (click)="denyMessage(message.id, message.esdb_id)">{{language.header.deny}}</button>
                                        </div>
                                    </div>
                                    <div class="notification_divider"></div>
                                </ng-container>
                            </div>
                            <!-- News Notification message End -->


                        </div>
                    </div>
                </li>
                <li class="nav-item btn-rotate dropdown lang_dr">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink3" aria-haspopup="true" data-bs-toggle="dropdown" aria-expanded="false">
                        <!-- <img src="../../../assets/img/lang_ic.png"> -->
                        <img *ngIf="displayFlag=='de'" src="../../../assets/img/ge_ic.png">
                        <img *ngIf="displayFlag=='en'" src="../../../assets/img/en_ic.png">
                        <img *ngIf="displayFlag=='ru'" src="../../../assets/img/ru_ic.png">
                        <img *ngIf="displayFlag=='tu'" src="../../../assets/img/tu_ic.png">

                        <p>
                            <span class="d-lg-none d-md-block">language</span>
                        </p>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right user-action" aria-labelledby="navbarDropdownMenuLink3">
                        <div class="lang_dropdown">
                            <ul>
                                <li>
                                    <a (click)="onLanguageSelect('en')"><img src="../../../assets/img/en_ic.png">&nbsp;{{language.language.english}}</a>
                                </li>
                                <li>
                                    <a (click)="onLanguageSelect('de')"><img src="../../../assets/img/ge_ic.png">&nbsp;{{language.language.deutsch}}</a>
                                </li>
                                <li>
                                    <a (click)="onLanguageSelect('ru')"><img src="../../../assets/img/ru_ic.png">&nbsp;{{language.language.russian}}</a>
                                </li>
                                <li>
                                    <a (click)="onLanguageSelect('tu')"><img src="../../../assets/img/tu_ic.png">&nbsp;{{language.language.turkish}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="nav-item btn-rotate dropdown user_dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink3" aria-haspopup="true" data-bs-toggle="dropdown" aria-expanded="false">
                        <!-- <img src="../../../assets/img/mike.jpg"> -->
                        <img *ngIf="userRespData && thumbnail == null" src="../../../assets/img/mike.jpg">
                        <img *ngIf="userRespData && thumbnail" [src]="thumbnail">
                        <p>
                            <span class=" d-md-block" *ngIf="userDetails">{{userDetails.firstName}}</span>
                        </p>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right user-action" aria-labelledby="navbarDropdownMenuLink3">
                        <div class="user-drop-info">
                            <div class="user-picture">
                                <div class="user-pic-inner">
                                    <!-- <img src="../../../assets/img/mike.jpg"> -->
                                    <img *ngIf="userRespData && thumbnail == null" src="../../../assets/img/mike.jpg">
                                    <img *ngIf="userRespData && thumbnail" [src]="thumbnail">
                                    <div class="user-upload-btn">
                                        <input type="file" name="">
                                        <span class="upload-overlay"><i class="nc-icon nc-camera-compact"></i></span>
                                    </div>
                                </div>
                                <h3 class="user_name" *ngIf="userDetails">{{userDetails.firstName}} {{userDetails.lastName}}
                                </h3>
                                <span class="user-designation">{{userDetails.roles[0]}}</span>
                                <div class="profile_btns">
                                    <button type="button" (click)="goToProfile()">{{language.header.manage_account}}</button><br>
                                    <button type="button" *ngIf="userDetails.roles[0] != 'admin'">{{language.header.contact_admin}}</button>
                                </div>
                                <hr>
                                <div class="profile_btns sign_out_btn">
                                    <button type="button" (click)="logout()">{{language.header.signout}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<app-confirm-dialog></app-confirm-dialog>
