<div class="content">
    <div class="add_event_main event_main">
        <div class="row">
            <div class="col-md-12 add_event_content Payment_data_main">
                <div class="card">
                    <div class="card-body">
                        <form [formGroup]="createTaskForm" (ngSubmit)='onCreateTask()'>
                            <div class="profile_details">
                                <label class="error alert alert-danger" *ngIf="responseMessage">{{responseMessage}}</label>
                                <div class="row">
                                    <div class="col-md-6">
                                        <!-- profile header start -->
                                        <div class="profile_main_head">
                                            <div class="profile_title">{{language.create_task.title}}</div>
                                        </div>
                                        <!-- profile header end -->
                                        <div class="event_field">
                                            <label>{{language.create_task.title_placeholder}}</label>
                                            <input type="text" formControlName="title" placeholder="{{language.create_task.title_placeholder}}" class="trigger_class" [ngClass]="{ 'is-invalid': submitted && createTaskForm.controls.title.errors }">
                                            <div *ngIf="(createTaskForm.controls.title.touched || submitted)&& createTaskForm.controls.title.errors?.required" class="text-danger">
                                                <div *ngIf="createTaskForm.controls.title.errors.required">
                                                    {{language.error_message.common_required}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="group_input">
                                            <div class="event_field">
                                                <label>{{language.create_task.end_date}}</label>
                                                <input type="date" [min]="getToday()" formControlName="date" [ngClass]="{ 'is-invalid': submitted && createTaskForm.controls.date.errors }">
                                                <div *ngIf="(createTaskForm.controls.date.touched || submitted)&& createTaskForm.controls.date.errors?.required" class="text-danger">
                                                    <div *ngIf="createTaskForm.controls.date.errors.required">
                                                        {{language.error_message.common_required}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="event_field task_area_field">
                                            <label>{{language.create_task.description}}</label>
                                            <angular-editor formControlName="description" [config]="editorConfig" [ngClass]="{ 'is-invalid': submitted && createTaskForm.controls.description.errors }">
                                            </angular-editor>
                                            <div *ngIf="(createTaskForm.controls.description.touched || submitted)&& createTaskForm.controls.description.errors?.required" class="text-danger">
                                                <div *ngIf="createTaskForm.controls.description.errors.required">
                                                    {{language.error_message.common_required}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="all-dropdowns">
                                            <div class="news-dropdown">
                                                <label>{{language.create_task.collaborators}} </label>
                                                <ng-multiselect-dropdown formControlName="type_dropdown"  [(ngModel)]="types" [ngClass]="{ 'is-invalid': submitted && createTaskForm.controls?.type_dropdown?.errors }" [placeholder]="language.create_task.type" [settings]="typeDropdownSettings" [data]="type_dropdown" (onDeSelect)="onTypeDeSelect($event)" (onSelect)="onTypeSelect($event)">
                                                </ng-multiselect-dropdown>
                                                <div *ngIf="(submitted)&& createTaskForm.controls?.type_dropdown?.errors?.required" class="text-danger">
                                                    <div *ngIf="createTaskForm.controls.type_dropdown?.errors.required">
                                                        {{language.error_message.common_required}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="news-dropdown" *ngIf="type_visibility == 1">
                                                <label>{{language.create_task.group_label}}</label>
                                                <ng-multiselect-dropdown formControlName="groups" [ngClass]="{ 'is-invalid': submitted && createTaskForm.controls.groups && createTaskForm.controls.groups.errors }" [placeholder]="language.create_task.group" [settings]="groupDropdownSettings" [data]="group_dropdown" (onDeSelect)="onGroupDeSelect($event)"  (onSelect)="onGroupSelect($event)">
                                                </ng-multiselect-dropdown>
                                                <div *ngIf="(createTaskForm.controls.groups && createTaskForm.controls.groups.touched || submitted) && (createTaskForm.controls.groups && createTaskForm.controls.groups.errors?.required)" class="text-danger">
                                                    <div *ngIf="createTaskForm.controls.groups.errors.required">
                                                        {{language.error_message.common_required}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="news-dropdown" *ngIf="receiveData && type_visibility == 0">
                                                <label>{{language.create_task.participant_label}}</label>
                                                <ng-multiselect-dropdown formControlName="user_participant" *ngIf="participant" [placeholder]="language.create_task.participants" [settings]="participantDropdownSettings" [data]="user_dropdown" (onSelect)="onUserSelect($event)" (onDeSelect)="onUserDeSelect($event)"
                                                    [ngClass]="{ 'is-invalid': submitted && createTaskForm.controls?.user_participant?.errors }">
                                                    >
                                                </ng-multiselect-dropdown>
                                                <!-- <div *ngIf="(createTaskForm.controls?.user_participant?.touched && submitted)&& createTaskForm.controls?.user_participant?.errors?.required" class="text-danger"> -->
                                                <div *ngIf="(submitted)&& createTaskForm.controls?.user_participant?.errors?.required" class="text-danger">
                                                    <div *ngIf="createTaskForm.controls?.user_participant?.errors.required">
                                                        {{language.error_message.common_required}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="all_participants create_task_main">
                                                <div class="card" *ngIf="showUsers">
                                                    <div class="card-header ">
                                                        <h5 class="card-title">
                                                            {{language.create_group.all_participants}}</h5>
                                                    </div>
                                                    <div class="card-body ">
                                                        <div class="widget-appointment widget" *ngIf="participantSelectedToShow">
                                                            <div class="widget-app-content" *ngFor="let participant of participantSelectedToShow">
                                                                <div class="app-left-content">
                                                                    <div class="parti_name">
                                                                        {{participant.user_name.split(" ")[0].charAt(0)}} {{participant.user_name.split(" ")[1].charAt(0)}}
                                                                    </div>
                                                                    <div class="user-content">
                                                                        <span class="user-name">{{participant.user_name.split("(")[0]}}</span>
                                                                        <span class="participant_email">({{participant.user_name.split("
                                                                            (")[1]}}</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="show-subtask profile_sub_btn event_sub_btn">
                                            <button type="button" class="show-subtask-btn Cancel_btn" (click)="addSubtask()"><i class="nc-icon nc-simple-add"></i>&nbsp;{{language.create_task.add_subtask}}</button>
                                        </div>
                                    </div>
                                    <div class="card-body col-md-6" formArrayName="subtasks" id="showSubtask">
                                        <div class="row">
                                            <div class="" *ngFor="let subtask of subtaskFormGroup.controls; let i = index;">
                                                <div [formGroupName]="i" class="row">
                                                    <div class="form-group col-6">
                                                        <label>{{language.create_task.title_placeholder}}</label>
                                                        <input class="form-control" formControlName="title" type="text">
                                                        <span class="text-danger" *ngIf="submitted && getSubtasksFormGroup(i).controls['title'].hasError('required')">
                                                            {{language.error_message.common_required}} </span>
                                                    </div>
                                                    <div class="form-group col-6">
                                                        <label>{{language.create_task.end_date}}</label>
                                                        <input class="form-control" formControlName="date" type="date">
                                                        <span class="text-danger" *ngIf="submitted && getSubtasksFormGroup(i).controls['date'].hasError('required')">
                                                            {{language.error_message.common_required}} </span>
                                                    </div>
                                                    <div class="form-group col-12">
                                                        <label>{{language.create_task.description}}</label>
                                                        <angular-editor formControlName="description" [config]="editorConfig">
                                                        </angular-editor>
                                                        <span class="text-danger" *ngIf="submitted && getSubtasksFormGroup(i).controls['description'].hasError('required')">
                                                            {{language.error_message.common_required}} </span>
                                                    </div>
                                                    <div class="form-group news-dropdown col-12" *ngIf="user_dropdown.length">
                                                        <label>{{language.create_task.participants}}</label>
                                                        <ng-multiselect-dropdown formControlName="assigned_to" [placeholder]="language.create_group.participants" [settings]="subTaskUserDropdownSettings" [data]="user_dropdown" (onSelect)="onSubTaskUserSelect($event, i)" (onDeSelect)="onSubTaskUserDeSelect($event)">
                                                        </ng-multiselect-dropdown>
                                                        <span class="text-danger" *ngIf="submitted && getSubtasksFormGroup(i).controls['assigned_to'].hasError('required')">
                                                            {{language.error_message.common_required}} </span>
                                                    </div>
                                                    <div class="form-group col-12 text-right">
                                                        <button class="btn btn-danger" type="button" (click)="removeSubtask(i)"> {{language.create_task.remove}} </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="profile_sub_btn event_sub_btn">
                                <button type="button" class="Cancel_btn" (click)="onCancel()">{{language.create_task.cancel}}</button>
                                <button type="submit" class="save_btn">{{language.create_task.save_and_update}}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>