<div class="content">
    <div class="add_event_main event_main">
        <div class="row">
            <div class="col-md-12 add_event_content group_detail_section">
                <div class="card">
                    <div class="card-body">
                        <div class="profile_details" *ngIf="groupDetails">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="group_detail_main">
                                        <div class="group_img_sec">
                                            <div class="group_detail_img">
                                                <img *ngIf="groupDetails.image != '' || groupDetails.image != null" src="{{groupDetails.image}}">
                                                <img *ngIf="groupDetails.image =='' || groupDetails.image == null" src="../../assets/img/no_image.png">
                                                <!-- <img [src]="groupDetails.image!=''? 'groupDetails.image' : '../../assets/img/no_image.png'"> -->
                                                <!-- <img [src]="(groupDetails.image!='' || groupDetails.image!= 'null') ? groupDetails.image : '../../assets/img/no_image.png'"> -->
                                            </div>
                                            <div class="membar_count">{{groupDetails.participantsCount}} {{language.community_groups.participants}}
                                            </div>
                                            <div class="dropdown action_group">
                                                <button class="dropdown-toggle" type="button" (click)="onShow()">
                                                    <i class="nc-icon nc-bullet-list-67"></i>
                                                </button>
                                                <ul class="dropdown-menu bunch_drop" aria-labelledby="dropdownMenuLink">
                                                    <li><a class="dropdown-item" *ngIf="groupDetails && groupAction=='1'" (click)="leaveGroup(groupDetails.id)">{{language.community_groups.leave_group}}</a></li>
                                                    <li><a class="dropdown-item" *ngIf="groupDetails && groupAction=='0'" (click)="joinGroup(groupDetails.id)">{{language.community_groups.join_group}}</a></li>
                                                    <li *ngIf="groupDetails && groupDetails.created_by == userId || userDetails.isAdmin">
                                                        <a class="dropdown-item" routerLink="/update-group/{{groupDetails.id}}">{{language.community_groups.Edit_group}}</a>
                                                    </li>
                                                    <li><a class="dropdown-item" (click)="goBack()">{{language.community_groups.Back}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="group_detail_content">
                                            <div class="group_title">
                                                <span class="">{{groupDetails.name}}</span>
                                            </div>
                                            <div class="group_description" [innerHTML]="groupDetails.description"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 all_participants">
                                    <div class="card ">
                                        <div class="card-header ">
                                            <h5 class="card-title">{{language.community_groups.all_participants}}</h5>
                                        </div>
                                        <div class="card-body ">
                                            <!-- appointment inner -->
                                            <div class="widget-appointment widget" *ngFor="let participant of groupDetails.participants">
                                                <div class="widget-app-content">
                                                    <div class="app-left-content">
                                                        <div class="parti_name">
                                                            {{participant.groupusers[0]?.firstname.charAt(0)}}{{participant.groupusers[0]?.lastname.charAt(0)}}
                                                        </div>
                                                        <div class="user-content">
                                                            <span class="user-name">{{participant.groupusers[0]?.firstname}}
                                                                {{participant.groupusers[0]?.lastname}}</span>
                                                            <span class="participant_email">{{participant.groupusers[0]?.email}}</span>
                                                        </div>
                                                    </div>
                                                    <div class="app-right-content">
                                                        <!-- <span class="participant_status">
                                                           <span class="status_badge cancelled"></span> {{language.community_groups.cancelled}}
                                                        </span> -->
                                                        <span class="participant_status" *ngIf="participant.approved_status == 1">
                                                            <span class="status_badge approved"></span> {{language.community_groups.approved}}
                                                        </span>
                                                        <span class="participant_status" *ngIf="participant.approved_status == 0">
                                                            <span class="status_badge pending"></span> {{language.community_groups.pending}}
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- appointment inner end -->
                                        </div>
                                    </div>
                                    <!-- <div class="col-lg-12 col-md-12 col-sm-12 empty-data-image" *ngIf="showGroupNews == 0">
                                        <img src="assets/img/no-event-img.png"><br>
                                        <span>{{language.community_groups.no_news}}123</span>
                                    </div> -->
                                </div>

                                <div class="col-md-12 group_grid_main">
                                    <div class="card" *ngIf="groupNewsDetails">
                                        <div class="card-header">
                                            <h5 class="card-title">{{language.community_groups.group_news}}</h5>
                                        </div>

                                        <div class="paginationHead full_width" *ngIf="newsTotalRecords > 8">
                                            <div class="pagintHeadLeft">
                                                <pagination-controls (pageChange)="pageChanged($event);" autoHide="true" previousLabel="{{language.pagination.previous}}"
                                                nextLabel="{{language.pagination.next}}"></pagination-controls>
                                            </div>
                                            <div class="searchRefine">
                                                <span>{{language.pagination.go_to_page}} <input type="text" #cPg value="{{ currentPageNmuber }}" (change)="goToPg(cPg.value)"></span>
                                                <span>{{language.pagination.limit_per_page}}
                                                    <select #lPg value="{{ itemPerPage }}" (change)="setItemPerPage(lPg.value)">
                                                        <option *ngFor="let limitValue of limitPerPage" value="{{limitValue.value}}">{{limitValue.value}}</option>
                                                    </select>
                                                </span>
                                                <div class="pagintHeadRight text-center">
                                                {{ ((currentPageNmuber -1) * itemPerPage) + 1 }} to {{ (currentPageNmuber * itemPerPage) > newsTotalRecords ? newsTotalRecords : (currentPageNmuber * itemPerPage) }} of {{ newsTotalRecords | number }} {{language.header.news}}
                                            </div>
                                            </div>
                                        </div>

                                        <div class="card-body group_detail_l">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let news of groupNewsDetails | paginate: {
                                                    itemsPerPage: itemPerPage,
                                                    currentPage: currentPageNmuber,
                                                    totalItems: newsTotalRecords }">
                                                    <div class="news-widget">
                                                        <div class="news-image">
                                                            <a routerLink="/clubnews/{{news.id}}">
                                                                <!-- <img [src]="news.imageUrls!=''? news.imageUrls : '../../assets/img/damir-bosnjak.jpg'"> -->
                                                                <img *ngIf="news.imageUrls!= null" src="{{news.imageUrls}}">
                                                                <img *ngIf="news.imageUrls! == null" src="../../assets/img/no_image.png">
                                                            </a>
                                                        </div>
                                                        <div class="news-content">
                                                            <span class="author-date">{{news.user.firstname}}
                                                            {{news.user.lastname}}</span>
                                                            <a routerLink="/clubnews/{{news.id}}">
                                                                <h5 class="news-content-heading" [innerHTML]="news.title"></h5>
                                                            </a>
                                                            <p class="news_author_desc news-content-text" [innerHTML]="news.headline"></p>
                                                        </div>
                                                        <div class="card-footer">
                                                            <hr>
                                                            <div class="group_rm">
                                                                <a routerLink="/clubnews/{{news.id}}">{{language.community_groups.read_more}}</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 empty-data-image" *ngIf="showGroupNews == 0">
                                                <img src="assets/img/no-event-img.png"><br>
                                                <span>{{language.community_groups.no_news}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>