/*create group css start*/
.parti_name {
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #fff;
    background: #4fb96d;
    border-radius: 50%;
    margin-right: 15px;
}
.col-md-6.all_participants .card {
    box-shadow: none;
}
.event_field select {
    width: 100%;
    height: 60px;
    background: #FAFBFC;
    border: 1px solid #EDF0F3;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 15px;
}
.group_edit_btn i {
    font-size: 24px;
    display: flex;
    align-items: center;
    color: #192838;
}
.create_group {
    margin-bottom: 20px;
    margin-top: 20px;
    position: relative;
}
.group_edit_btn {
    position: absolute;
    top: 15px;
    right: 0px;
}
.group_edit_btn a:first-child {
    background: #4fb96d;
    color: #fff;
}
.group_edit_btn a:first-child i {
    color: #fff;
}
.group_edit_btn a:nth-child(2) {
    background: #E12217;
    color: #fff;
}
.group_edit_btn a:nth-child(2) i {
    color: #fff;
}
.create_group_img {
    height: 400px;
    overflow: hidden;
}
.create_group .user-pic-inner {
    margin-top: 0;
}
.create_group .user-upload-btn i {
    position: relative;
    top: -2px;
}
.group_edit_btn a {
    width: 36px;
    height: 36px;
    display: inline-flex;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    margin-right: 15px;
}
button.save_btn.create_btn {
    width: auto;
    background: #4fb96d;
    border: 1px solid #4fb96d;
    padding: 15px 30px;
}
span.participant_status span {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 25px;
    margin-right: 5px;
}
span.participant_status span.approved{
  background:#4fb96d;
}
span.participant_status span.pending {
    background: #fbc61a;
}
span.participant_status span.cancelled {
    background: #E12217;
}
a.edit_btn {
    background: #e4b51a !important;
}
/*group details css start*/
.group_detail_img {
    height: 500px;
    overflow: hidden;
    margin-bottom: 30px;
    border-radius: 3px;
    margin-top: 0px;
    object-fit: cover;
    background-color: #F7F7F9;
}
.group_detail_img img {
    object-fit: cover;
    height: 100%;
    margin: 0 auto;
    /* width: 100%; */
    text-align: center;
    display: flex;
}
.group_title {
    color: #1D202F;
}
.group_detail_content {
    font-size: 14px;
    color: #424D5C;
}
.group_title {
    font-size: 24px;
    font-weight: 600;
    color: #1D202F;
    margin: 20px 0px;
    font-family: 'poppinssemibold';
}
.join_btn button {
    font-size: 18px;
    padding: 2px 30px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background: #E12217;
}
.group_img_sec {
    position: relative;
    box-shadow: 0px 0px 8px -1px rgb(237 237 253) !important;
}
.group_edit_btn img {
    width: 26px;
    height: 26px;
    margin: 4px 0px;
}
a.edit_btn {
    background: #e4b51a !important;
}
.group_title {
    font-family: 'poppinssemibold';
}
.membar_count {
    position: absolute;
    bottom: 0;
    background: rgb(0 0 0 / 40%);
    padding: 5px 10px;
    color: #fff;
}
.widget-app-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
@media only screen and (max-width: 1260px) and (min-width: 1025px){
.widget-app-content {
    display: inline-block;
    margin-bottom: 19px;
    width: 100%;
}
.app-right-content {
    float: right;
}
}
@media only screen and (max-width: 1024px){
.col-md-12.add_event_content.group_detail_section .col-md-6 {
    max-width: 100%;
    flex: 0 0 100%;
}
}
@media only screen and (max-width: 767px){
.col-md-6.all_participants .card-body {
    padding: 0;
}
.widget-app-content {
    display: flex;
    width: 100%;
}
.group_detail_img {
    height: 250px !important;
}
}
@media only screen and (max-width: 600px){
.group_edit_btn a {
    width: 30px;
    height: 30px;
    display: inline-flex;
    border-radius: 3px;
    margin-right: 15px;
}
.group_edit_btn img {
    width: 20px;
    height: 20px;
    margin: 5px 0px;
}
.membar_count{
    font-size: 12px;
}
}
@media only screen and (max-width: 500px){
.all_participants .user-content {
    padding-top: 6px;
    color: #192838;
    width: 227px;
    float: left;
}
.widget-app-content {
    display: inline-block;
    width: 100%;
}
.app-right-content {
    float: right;
}
.parti_name {
    float: left;
}
}
/*action toggle css*/

ul.bunch_drop {
    display: none;
}
ul.bunch_drop.show {
    display: block;
}
.dropdown.action_group button {
    background: transparent;
    border: none;
}
.dropdown.action_group button {
    border: none;
    font-size: 24px;
    border-radius: 5px !important;
    background: #eabe41;
    height: 32px;
    color: #fff;
    box-shadow: 0px 1px 4px -1px #ccc;
}

.dropdown.action_group{
    position: absolute;
    right: 15px;
    top: 15px;
}
ul.bunch_drop.show {
    position: relative;
    width: 150px;
    left: 0;
    padding: 0;
    margin: 0;
    top: 37px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 1px 4px -1px #ccc;
}
ul.bunch_drop.show li a {
    padding: 8px 10px;
    border-bottom: 1px solid #f7f7f9;
    color: #424D5C;
}
.dropdown-item.active, .dropdown-item:active{
    background:#f7f7f9 !important;
    color: #424D5C;
}
.dropdown-item.active, .dropdown-item:hover{
    background:#f7f7f9 !important;
    color: #424D5C !important;
}
button.dropdown-toggle {
    position: absolute;
    right: 0;
} 
ul.bunch_drop.show li {
    list-style: none;
}
.dropdown.action_group button:after {
    border: transparent;
}
.col-md-6.all_participants .card {
    box-shadow: 0px 0px 8px -1px rgb(237 237 253) !important;
}
.group_detail_l .news-image {
    height: 189px;
    overflow: hidden;
    border-radius:3px;
    text-align: center;
    display: grid;
    place-content: center;
}
.group_detail_l .news-image img {
    width: 100%;
}
.group_detail_l .news-content h5, .group_detail_l .news-content p {
    margin-top: 0;
    margin-bottom: 0;
}
.group_detail_l h5.news-content-heading{
    margin-top: 0;
    margin-bottom: 0;
    display: -webkit-box;
    max-height: calc(2 * 1.4rem);
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
}
.group_rm a {
    color: #E12217;
}
@media only screen and (max-width: 1366px) and (min-width: 768px){
    .card-body.group_detail_l .col-md-6 {
    flex: 0 0 33.3% !important;
    max-width: 33.3% !important;
}
}
@media only screen and (max-width: 990px) and (min-width: 320px){
.col-md-6.all_participants .card:first-child {
    margin-top: 30px;
}
.group_detail_l .news-image {
    height: 170px;
}
}
.group_grid_main .card{
    box-shadow: none;
    border-top: 1px solid #C0CCDA;
    margin-top: 30px;
}
p.news_author_desc.news-content-text {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}