/*action toggle css*/

ul.bunch_drop {
    display: none;
}
ul.bunch_drop.show {
    display: block;
}
.dropdown.action_group button.dropdown-toggle {
    background: transparent;
    border: none;
}
.dropdown.action_group button.dropdown-toggle {
    border: none;
    font-size: 24px;
    border-radius: 5px !important;
    background: #f9fafc;
    height: 35px;
    color: #7c8ba0;
    box-shadow: 0px 1px 4px -1px #ccc;
    width: 32px;
}

.dropdown.action_group{
    display: inline-block;
    width: 100%;
}
ul.bunch_drop.show {
    position: absolute;
    width: 120px;
    right: 0;
    padding: 0;
    margin: 0;
    top: 37px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 1px 4px -1px #ccc;
}
ul.bunch_drop.show li a {
    padding: 8px 10px;
    border-bottom: 1px solid #f7f7f9;
    color: #424D5C;
}
ul.bunch_drop.show li{
    padding: 5px 10px;
}
.dropdown-item.active, .dropdown-item:active{
    background:#f7f7f9 !important;
    color: #424D5C;
}
.dropdown-item.active, .dropdown-item:hover{
    background:#f7f7f9 !important;
    color: #424D5C !important;
}
button.dropdown-toggle {
    position: absolute;
    right: 0;
} 
ul.bunch_drop.show li {
    list-style: none;
}
.dropdown.action_group button:after {
    border: transparent;
}
.chat-header {
    display: flex;
    justify-content: space-between;
}
.chat-left{
    display: flex;
}
.more-toggle {
    float: left;
    width: 55px;
    color: #677180;
}
.more-toggle i{
    cursor: pointer;
}
.cc-to-main {
    float: left;
    width: 90%;
}
.chat-inner-content {
    display: inline-block;
    width: 100%;
}
.reply-users.show .chat-user-name {
    white-space: inherit;
}
.reply-date {
    font-size: 13px;
}
.cc-to-main .chat-user-name {
    font-size: 13px;
}
.chat-right ul li button {
    width: 28px;
    height: 15px;
    border-right: 1px solid #ccc;
}
.chat-top-area {
    display: inline-block;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #f2f2f2;
}
.multipl-participent-reply.reply-users.show .bottom-reply-to div{
    white-space: normal;
}
.multipl-participent-reply .more-toggle, .single-participent-reply .more-toggle{
    width: 30px;
}

.tooltip-example {
    text-align: center;
    padding: 0 50px;
  }
  .tooltip-example [tooltip] {
    display: inline-block;
    margin: 50px 20px;
    width: auto;
    height: 50px;
    border: 1px solid gray;
    border-radius: 5px;
    line-height: 50px;
    text-align: center;
  }
  .ng-tooltip {
    position: absolute;
    max-width: auto;
    font-size: 12px;
    text-align: center;
    color: #f8f8f2;
    padding: 3px 8px;
    background: #282a36;
    border-radius: 4px;
    z-index: 1000;
    opacity: 0;
  }
  .ng-tooltip:after {
    content: "";
    position: absolute;
    border-style: solid;
  }
  .ng-tooltip-top:after {
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-color: black transparent transparent transparent;
  }
  .ng-tooltip-bottom:after {
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-color: transparent transparent black transparent;
  }
  .ng-tooltip-left:after {
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-color: transparent transparent transparent black;
  }
  .ng-tooltip-right:after {
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-color: transparent black transparent transparent;
  }
  .ng-tooltip-show {
    opacity: 1;
  }