.title-btn-group.rp_sec {
    margin-bottom: 0;
}
.print_btn_group div {
    display: inline-flex;
    vertical-align: top;
}
.title-btn-group.rp_sec button {
    padding: 8px 10px !important;
    border: 2px solid #ccc !important;
    border-radius: 5px;
    box-shadow: none;
}
button.btn-close {
    background: rgb(0 0 0 / 60%);
    color: #fff;
    font-size: 19px;
    display: flex;
    width: 35px;
    height: 35px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: transparent;
}
h5.modal-title {
    font-size: 20px;
    font-family: 'poppinssemibold';
}
.pass_fields label {
    display: inline-block;
    width: 100%;
    font-family: 'poppinssemibold';
    font-size: 14px;
    color: #1D202F;
}
.pass_fields input {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #EDF0F3;
    padding: 10px;
    background:#FAFBFC;
}
.change_pass_section .modal-footer{
	justify-content: flex-start;
}
button.btn.btn-secondary.change_btn {
    border: 1px solid #E12217;
    border-radius: 4px;
    background: #E12217;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 20px;
}
.change_pass_section .modal-content{
	border-radius: 12px;
}
@media only screen and (max-width: 767px){
	.profile_details {
    text-align: left;
}
}