<div class="content">
    <div class="profile_main">
        <div class="row">
            <div class="profile-sidebar">
                <div class="profile_navigation">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                            <a class="nav-link active" data-toggle="tab" role="tab" routerLink="/profile">
                                <span>{{language.profile.profile_nav.general_info}}</span>
                            </a>
                        </li>
                        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                            <a class="nav-link data_ic" data-toggle="tab" role="tab" routerLink="/profile-bank">
                                <span>{{language.profile.profile_nav.payment_data}}</span>
                            </a>
                        </li>
                        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                            <a class="nav-link c_data" data-toggle="tab" role="tab" routerLink="/profile-club">
                                <span>{{language.profile.profile_nav.club_data}}</span>
                            </a>
                        </li>
                        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                            <a class="nav-link c_data" data-toggle="tab" role="tab" routerLink="/profile-my-club">
                                <span>{{language.profile.profile_nav.my_club_data}}</span>
                            </a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                </div>
            </div>
            <div class="profile_content">
                <div class="card">
                    <div class="card-body">
                        <!-- profile header start -->
                        <div class="profile_main_head">
                            <div class="profile_header">
                                <div class="user-pic-inner">
                                    <img *ngIf="thumbnail == null" src="assets/img/mike.jpg">
                                    <img *ngIf="userDetails && thumbnail" [src]="thumbnail">
                                </div>
                                <div class="user_pro_info">
                                    <h3 class="user_name" *ngIf="userDetails">{{userDetails.firstName}} {{userDetails.lastName}}
                                    </h3>
                                    <span class="user-designation" *ngIf="role">{{role}}</span>
                                </div>
                                <div class="print_btn_group">
                                    <div class="title-btn-group rp_sec">
                                        <button type="button" class="disabled" data-bs-toggle="modal" data-bs-target="#exampleModal">{{language.profile.change_password}}</button>
                                        <a (click)="inEdit()"><img src="assets/img/Edit.svg"></a>
                                        <a (click)="print()"><img src="assets/img/print.svg"></a>
                                    </div>
                                </div>
                            </div>
                            <!-- profile header end -->
                            <!-- profile details data start -->
                            <div class="profile_details">
                                <div class="profile_title">{{language.profile.my_address}}</div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="profile_field info_field">
                                            <span class="info_label">{{language.profile.street}}</span>
                                            <span class="info_detail" *ngIf="userDetails">{{userDetails.street}}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="profile_field info_field">
                                            <span class="info_label">{{language.profile.more_info}}</span>
                                            <span class="info_detail" *ngIf="userDetails">{{userDetails.street2}}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="profile_field info_field">
                                            <span class="info_label">{{language.profile.city}}</span>
                                            <span class="info_detail" *ngIf="userDetails">{{userDetails.city}}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="profile_field info_field">
                                            <span class="info_label">{{language.profile.zip_code}}</span>
                                            <span class="info_detail" *ngIf="userDetails">{{userDetails.postCode}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- profile details data End -->
                            <!-- profile contact details data start -->
                            <div class="profile_details">
                                <div class="profile_title">{{language.profile.contact_data}}</div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="profile_field info_field">
                                            <span class="info_label">{{language.profile.userEmail}}</span>
                                            <span class="info_detail" *ngIf="userDetails">{{userDetails.email}}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="profile_field info_field">
                                            <span class="info_label">{{language.profile.phone}}</span>
                                            <span class="info_detail" *ngIf="userDetails">{{userDetails.phone}}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="profile_field info_field">
                                            <span class="info_label">{{language.profile.dob}}</span>
                                            <span class="info_detail" *ngIf="userDetails">{{userDetails.birthDate |
                                                date:
                                                'dd/MM/YYYY'}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- profile contact details data End -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade change_pass_section" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog">
            <form [formGroup]="changePasswordForm" (ngSubmit)='changePassword()'>
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{language.profile.change_password}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeModal()" aria-label="Close"><i class="nc-icon nc-simple-remove"></i></button>
                    </div>
                    <div class="modal-body">
                        <div class="error alert alert-danger" *ngIf="responseMessage">{{responseMessage}}</div>
                        <div id="change_password_main">
                            <div class="change_pass_inner">
                                <div class="pass_fields">
                                    <label>{{language.profile.old_password}}</label>
                                    <input type="password" name="" formControlName="oldPassword" placeholder="{{language.profile.enter_old_password}}" [ngClass]="{ 'is-invalid': submitted && changePasswordForm.controls.oldPassword?.errors }">
                                    <div *ngIf="(changePasswordForm.controls.oldPassword?.touched || submitted)&& (changePasswordForm.controls.oldPassword?.errors?.required || changePasswordForm.controls.oldPassword?.errors?.minlength || changePasswordForm.controls.oldPassword?.errors?.pattern)"
                                        class="text-danger">
                                        <div *ngIf="changePasswordForm.controls.oldPassword.errors.required">
                                            {{language.error_message.common_required}}
                                        </div>
                                        <div *ngIf="changePasswordForm.controls.oldPassword.errors?.minlength">
                                            {{language.error_message.min_length}}
                                        </div>
                                        <div *ngIf="changePasswordForm.controls.oldPassword.errors?.pattern">
                                            {{language.error_message.common_valid}}
                                        </div>
                                    </div>
                                </div>
                                <div class="pass_fields">
                                    <label>{{language.profile.new_password}}</label>
                                    <input type="password" name="" formControlName="newPassword" placeholder="{{language.profile.enter_new_password}}" [ngClass]="{ 'is-invalid': submitted && changePasswordForm.controls.newPassword.errors }">
                                    <div *ngIf="(changePasswordForm.controls.newPassword.touched || submitted)&& (changePasswordForm.controls.newPassword?.errors?.required || changePasswordForm.controls.newPassword?.errors?.minlength || changePasswordForm.controls.newPassword?.errors?.pattern)"
                                        class="text-danger">
                                        <div *ngIf="changePasswordForm.controls.newPassword.errors.required">
                                            {{language.error_message.common_required}}
                                        </div>
                                        <div *ngIf="changePasswordForm.controls.newPassword.errors?.minlength">
                                            {{language.error_message.min_length}}
                                        </div>
                                        <div *ngIf="changePasswordForm.controls.newPassword.errors?.pattern">
                                            {{language.error_message.common_valid}}
                                        </div>
                                    </div>
                                </div>
                                <div class="pass_fields">
                                    <label>{{language.profile.confirm_password}}</label>
                                    <input type="password" name="" formControlName="confirmPassword" placeholder="{{language.profile.enter_confirm_password}}" [ngClass]="{ 'is-invalid': submitted && changePasswordForm.controls.confirmPassword?.errors }">
                                    <div *ngIf="(changePasswordForm.controls.confirmPassword?.touched || submitted)&&((changePasswordForm.controls.confirmPassword?.errors?.required || changePasswordForm.controls.confirmPassword?.errors?.minlength || changePasswordForm.controls.confirmPassword?.errors?.pattern) || c_password)"
                                        class="text-danger">
                                        <div *ngIf="changePasswordForm.controls.confirmPassword.errors?.required">
                                            {{language.error_message.common_required}}
                                        </div>
                                        <div *ngIf="changePasswordForm.controls.confirmPassword.errors?.minlength">
                                            {{language.error_message.min_length}}
                                        </div>
                                        <div *ngIf="changePasswordForm.controls.confirmPassword.errors?.pattern">
                                            {{language.error_message.common_valid}}
                                        </div>
                                        <div *ngIf="c_password">
                                            {{language.error_message.confirm_password}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-secondary change_btn">{{language.profile.submit}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>