@media screen and (max-width: 600px) {
.profile_sub_btn .Cancel_btn, .profile_sub_btn .save_btn {
    width: 100% !important;
    margin-bottom: 10px;
}
}
.switch_toggle input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.switch_toggle label {
  cursor: pointer;
  text-indent: -9999px;
  width: 70px;
  height: 30px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

.switch_toggle label:after {
  content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 24px;
    height: 24px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

.switch_toggle input:checked + label {
  background: #4fb96d;
}

.switch_toggle input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

.switch_toggle label:active:after {
  width: 130px;
}
.guest-option label.guest_label {
    display: flex;
    align-items: center;
}
label.guest_label span {
    padding-top: 15px;
    margin-right: 15px;
}
.guest-option {
    margin-top: -17px;
    margin-bottom: 24px;
}