<div class="content">
    <div class="profile_main">
        <div class="row">
            <div class="profile-sidebar">
                <div class="profile_navigation">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                            <a class="nav-link active" data-toggle="tab" role="tab" routerLink="/profile">
                                <span>{{language.profile.profile_nav.general_info}}</span>
                            </a>
                        </li>
                        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                            <a class="nav-link data_ic" data-toggle="tab" role="tab" routerLink="/profile-bank">
                                <span>{{language.profile.profile_nav.payment_data}}</span>
                            </a>
                        </li>
                        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                            <a class="nav-link c_data" data-toggle="tab" role="tab" routerLink="/profile-club">
                                <span>{{language.profile.profile_nav.club_data}}</span>
                            </a>
                        </li>
                        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                            <a class="nav-link c_data" data-toggle="tab" role="tab" routerLink="/profile-club">
                                <span>{{language.profile.profile_nav.my_club_data}}</span>
                            </a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                </div>
            </div>
            <div class="profile_content">
                <div class="card">
                    <div class="card-body">
                        <form [formGroup]="registrationForm" (ngSubmit)='registrationProcess()'>
                            <div class="error alert alert-danger" *ngIf="responseMessage">{{responseMessage}}</div>
                            <!-- profile header start -->
                            <div class="profile_main_head">
                                <div class="profile_header">
                                    <div class="user-pic-inner">
                                        <img src="assets/img/mike.jpg">
                                        <div class="user-upload-btn">
                                            <input type="file" name="" #fileInput id="uploadFile" (click)="uploadFileEvt1()" name="uploadFile" multiple="multiple" accept="image/*">
                                        </div>
                                    </div>
                                    <div class="user_pro_info">
                                        <h3 class="user_name" *ngIf="userData">{{userData.firstName}} {{userData.lastName}}
                                        </h3>
                                        <span class="user-designation" *ngIf="role">{{role}}</span>
                                    </div>
                                    <div class="print_btn_group">
                                        <!-- <a href="#"><img src="assets/img/Edit.svg"></a> -->
                                        <a (click)="print()"><img src="assets/img/print.svg"></a>
                                    </div>
                                </div>
                                <div class="upload_btns_profile">
                                    <div class="pro_upload_group">
                                        <div class="doc_upload_btn">
                                            <!-- <input type="file" formControlName='upload_file'> -->
                                            <input type="file">
                                            <span class="upload_ol">{{language.profile.upload_pic}}</span>
                                        </div>
                                        <div class="pro_del_btn">
                                            <button type="button" class="disabled del_btn">{{language.profile.delete}}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- profile header end -->
                            <!-- profile details data start -->
                            <div class="profile_details">
                                <div class="profile_title">{{language.profile.my_address}}</div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="profile_field">
                                            <label>{{language.profile.street}}</label>
                                            <!-- <input type="text" formControlName='street' placeholder="Street Number"> -->
                                            <input type="text" formControlName='street' placeholder="{{language.profile.street}}" [ngClass]="{ 'is-invalid': submitted && registrationForm.controls.street.errors }">
                                            <div *ngIf="(registrationForm.controls.street.touched || submitted) && (registrationForm.controls.street.errors?.required || registrationForm.controls.street.errors?.whitespace)" class="text-danger">
                                                <div *ngIf="registrationForm.controls.street.errors.required">
                                                    {{language.error_message.common_required}}
                                                </div>
                                                <div *ngIf="registrationForm.controls.street.errors?.whitespace">
                                                    {{language.error_message.common_valid}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="profile_field">
                                            <label>{{language.profile.more_info}}</label>
                                            <input type="text" formControlName='street2' placeholder="{{language.profile.more_info}}" [ngClass]="{ 'is-invalid': submitted && registrationForm.controls.street2.errors }">
                                            <div *ngIf="(registrationForm.controls.street2.touched || submitted) && (registrationForm.controls.street2.errors?.required || registrationForm.controls.street2.errors?.whitespace)" class="text-danger">
                                                <div *ngIf="registrationForm.controls.street2.errors.required">
                                                    {{language.error_message.more_info}}
                                                </div>
                                                <div *ngIf="registrationForm.controls.street2.errors?.whitespace">
                                                    {{language.error_message.common_valid}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="profile_field">
                                            <label>{{language.profile.city}}</label>
                                            <input type="text" formControlName='city' placeholder="City" [ngClass]="{ 'is-invalid': submitted && registrationForm.controls.city.errors }">
                                            <div *ngIf="(registrationForm.controls.city.touched || submitted) && (registrationForm.controls.city.errors?.required || registrationForm.controls.city.errors?.whitespace)" class="text-danger">
                                                <div *ngIf="registrationForm.controls.city.errors.required">
                                                    {{language.error_message.common_required}}
                                                </div>
                                                <div *ngIf="registrationForm.controls.city.errors?.whitespace">
                                                    {{language.error_message.common_valid}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="profile_field">
                                            <label>{{language.profile.zip_code}}</label>
                                            <input type="text" formControlName='postCode' placeholder="Postal Address" [ngClass]="{ 'is-invalid': submitted && registrationForm.controls.postCode.errors }">
                                            <div *ngIf="(registrationForm.controls.postCode.touched || submitted) && (registrationForm.controls.postCode.errors?.required || registrationForm.controls.postCode.errors?.pattern)" class="text-danger">
                                                <div *ngIf="registrationForm.controls.postCode.errors.required">
                                                    {{language.error_message.common_required}}
                                                </div>
                                                <div *ngIf="registrationForm.controls.postCode.errors?.pattern">
                                                    {{language.error_message.common_valid}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- profile details data End -->
                            <!-- profile contact details data start -->
                            <div class="profile_details">
                                <div class="profile_title">{{language.profile.contact_data}}</div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="profile_field">
                                            <label>{{language.profile.userEmail}}</label>
                                            <input type="text" formControlName='email' placeholder="Email Address" disabled [ngClass]="{ 'is-invalid': submitted && registrationForm.controls.email.errors }">
                                            <!-- <div class="text-danger" *ngIf="(registrationForm.get('email').invalid && registrationForm.get('email').touched) || registrationForm.get('email').dirty">
                                                <div *ngIf="registrationForm.controls.email.errors.required">
                                                    {{language.error_message.email_required}}
                                                </div>
                                                <div *ngIf="registrationForm.controls.email.errors?.email">
                                                    {{language.error_message.email_proper}}
                                                </div>
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="profile_field">
                                            <label>{{language.profile.phone}}</label>
                                            <input type="text" formControlName='phone' placeholder="Phone Number" [ngClass]="{ 'is-invalid': submitted && registrationForm.controls.phone.errors }">
                                            <div *ngIf="(registrationForm.controls.phone.touched || submitted) && (registrationForm.controls.phone.errors?.required || registrationForm.controls.phone.errors?.pattern)" class="text-danger">
                                                <div *ngIf="registrationForm.controls.phone.errors.required">
                                                    {{language.error_message.phone_required}}
                                                </div>
                                                <div *ngIf="registrationForm.controls.phone.errors?.pattern">
                                                    {{language.error_message.phone_proper}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="profile_field">
                                            <label>{{language.profile.dob}}</label>
                                            <!-- <input type="text" formControlName='birthday' placeholder="Date of Birth" [(ngModel)]="birthday.value"> -->
                                            <input type="date" formControlName='birthDate' [max]="getToday()" placeholder="Date of Birth" [ngClass]="{ 'is-invalid': submitted && registrationForm.controls.birthDate.errors }">
                                            <div *ngIf="(registrationForm.controls.birthDate.touched || submitted)&& registrationForm.controls.birthDate.errors?.required" class="text-danger">
                                                <div *ngIf="registrationForm.controls.birthDate.errors.required">
                                                    {{language.error_message.dob}}
                                                </div>
                                                <!-- <div *ngIf="registrationForm.controls.birthday.errors.email">
                                                    Email is not proper
                                                </div> -->
                                            </div>
                                        </div>
                                        <div class="guest-option">
                                            <label class="guest_label">
                                                <span>{{language.profile.share_birthday}}</span>&nbsp;
                                                <div class="switch_toggle">
                                                    <input type="checkbox" id="switch" formControlName="share"/>
                                                    <label for="switch">Toggle</label>
                                        </div>
                                        </label>
                                        <!-- <label class="switch">
                                                <input type="checkbox" formControlName="show_guest"
                                                    [ngClass]="{ 'is-invalid': submitted && createNewsForm.controls.show_guest.errors }">
                                                <span class="slider round"></span>
                                                <div *ngIf="(createNewsForm.controls.show_guest.touched || submitted)&& createNewsForm.controls.show_guest.errors?.required"
                                                    class="text-danger">
                                                    <div *ngIf="createNewsForm.controls.show_guest.errors.required">
                                                        {{language.error_message.common_required}}
                                                    </div>
                                                </div>
                                            </label> -->
                                    </div>
                                </div>
                            </div>
                    </div>
                    <!-- profile contact details data End -->
                    <div class="profile_sub_btn">
                        <button type="button" (click)="cancel()" class="Cancel_btn">{{language.profile.cancel}}</button>
                        <button type="submit" class="save_btn">{{language.profile.save}}</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>