<div class="content">
    <div class="add_event_main event_main">
        <div class="row">
            <div class="col-md-12 add_event_content event_detail_main">
                <div class="card">
                    <div class="card-body">
                        <div class="profile_details">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="group_detail_main">
                                        <div class="group_detail_content" *ngIf="taskDetails">
                                            <div class="group_title">
                                                <h5 class="">{{taskDetails.title}}</h5>
                                                <div class="dropdown action_group">
                                                    <button class="dropdown-toggle" type="button" (click)="onShow()">
                                                        <i class="nc-icon nc-bullet-list-67"></i>
                                                    </button>
                                                    <ul class="dropdown-menu bunch_drop" aria-labelledby="dropdownMenuLink">
                                                        <li>
                                                            <a class="dropdown-item" routerLink="/update-task/{{taskDetails.id}}">{{language.organizer.Edit}}</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" *ngIf="taskDetails" (click)="deleteEvents(taskDetails.id)">{{language.organizer.Delete}}</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" (click)="goBack()">{{language.organizer.Back}}</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <p [innerHTML]="taskDetails.description"></p>
                                            <p class="due-date">{{language.organizer.due_date}} :- {{taskDetails.date | date: 'd MMM y'}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 all_participants">
                                    <div class="card organizer_card">
                                        <div class="card-header ">
                                            <h5 class="card-title">{{language.organizer.collaborators}}</h5>
                                        </div>
                                        <div class="card-body" *ngIf="collaboratorDetails">
                                            <div class="widget-appointment widget">
                                                <div class="widget-app-content" *ngFor="let collaborator of collaboratorDetails">
                                                    <div class="app-left-content">
                                                        <div class="parti_name">
                                                            {{collaborator.user[0]?.firstname.charAt(0)}}{{collaborator.user[0]?.lastname.charAt(0)}}
                                                        </div>
                                                        <div class="user-content">
                                                            <span class="user-name">{{collaborator.user[0].firstname}}
                                                                {{collaborator.user[0].lastname}}</span>
                                                            <span class="participant_email">{{collaborator.user[0].email}}</span>
                                                        </div>
                                                    </div>
                                                    <div class="app-right-content">
                                                        <span class="participant_status" *ngIf="collaborator.approved_status == 1">
                                                            <span
                                                                class="status_badge approved"></span>{{language.organizer.approved}}
                                                        </span>
                                                        <span class="participant_status" *ngIf="collaborator.approved_status == 0">
                                                            <span
                                                                class="status_badge pending"></span>{{language.organizer.pending}}
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" *ngIf="taskDetails && taskDetails.subtasks && taskDetails.subtasks.length > 0">
                                <div><h5 class="">Subtask Details:-</h5></div>
                                <div *ngFor="let subtasks of taskDetails.subtasks">
                                    <div class="group_detail_content">
                                        <div class="group_title">
                                            <input *ngIf="subtasks.status != 1" class="check-style" id="styled-checkbox-{{subtasks.id}}" type="checkbox" (change)="eventMarkComplete(subtasks.id)" style="opacity: 1;margin-top: 5px;">
                                            <input *ngIf="subtasks.status == 1" class="check-style" id="styled-checkbox-{{subtasks.id}}" type="checkbox" style="opacity: 1;margin-top: 5px;" checked="checked" disabled="disabled">
                                            <h5 class="" style="margin-left: 35px;">{{subtasks.title}}</h5>
                                        </div>
                                        <p [innerHTML]="subtasks.description"></p>
                                        <p class="due-date">{{language.organizer.due_date}} :- {{subtasks.date | date: 'd MMM y'}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>