/*action toggle css*/

ul.bunch_drop {
    display: none;
}
ul.bunch_drop.show {
    display: block;
}
.dropdown.action_group button {
    background: transparent;
    border: none;
}
.dropdown.action_group button {
    border: none;
    font-size: 24px;
    border-radius: 5px !important;
    background: #eabe41;
    height: 32px;
    color: #fff;
    box-shadow: 0px 1px 4px -1px #ccc;
}

.dropdown.action_group{
    position: absolute;
    right: 15px;
    top: 0px;
}
ul.bunch_drop.show {
    position: relative;
    width: 150px;
    left: 0;
    padding: 0;
    margin: 0;
    top: 37px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 1px 4px -1px #ccc;
}
ul.bunch_drop.show li a {
    padding: 8px 10px;
    border-bottom: 1px solid #f7f7f9;
    color: #424D5C;
}
.dropdown-item.active, .dropdown-item:active{
    background:#E12217 !important;
    color: #424d5c;
}
.dropdown-item.active, .dropdown-item:hover{
    background:#f7f7f9 !important;
    color: #424d5c !important;
}
button.dropdown-toggle {
    position: absolute;
    right: 0;
} 
ul.bunch_drop.show li {
    list-style: none;
}
.dropdown.action_group button:after {
    border: transparent;
}
.news_image_container img {
    height: 100%;
}
.news_image_container {
    height: 500px;
}
@media only screen and (max-width: 767px){
.news_image_container {
    height: 100%;
}
}
.group_title h5 {
    margin-top: 0px;
    font-size: 20px;
    color: #192838;
    font-family: 'poppinssemibold';
}
/*.card.organizer_card {
    box-shadow: none;
}*/
.card.organizer_card .card-header{
    padding-top: 0px;
}
.card.organizer_card{
    margin-bottom: 0px;
    box-shadow: none;
}
.parti_name {
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #fff;
    background: #4fb96d;
    border-radius: 50%;
    margin-right: 15px;
}
.app-right-content {
    text-align: right;
}
span.participant_status span {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 25px;
    margin-right: 5px;
}
span.participant_status span.approved{
  background:#4fb96d;
}
span.participant_status span.pending {
    background: #fbc61a;
}
span.participant_status span.cancelled {
    background: #E12217;
}
.app-left-content {
    display: flex;
}
.widget-app-content{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}