<div class="content">
    <div class="row">
        <div class="col-md-12 page-main">
            <div class="page-title">
                <i class="nc-icon nc-layout-11"></i>
                <h2>{{language.club_wall.title}}</h2>
            </div>
            <div class="all_btn_group btn_collapse">
                <div class="title-btn-group">
                    <button type="button" routerLink="./club-news" (click)="onNews()" [ngClass]="displayNews == true ? 'selected' : 'disabled'">{{language.club_wall.club_news}}</button>
                    <button type="button" routerLink="club-dates" *ngIf="participateAccess.appointments == 'Yes'" (click)="onDates()" [ngClass]="displayDates == true ? 'selected' : 'disabled'">{{language.club_wall.club_dates}}</button> 
                    <button type="button" routerLink="club-events" *ngIf="participateAccess.event == 'Yes'" (click)="onEvents()" [ngClass]="displayEvents == true ? 'selected' : 'disabled'">{{language.club_wall.club_events}}</button>
                </div>
                <div class="fixed_btn_group">
                    <ul>
                        <li><button style="border-bottom-left-radius: 12px" type="button" (click)="onNews()" [ngClass]="displayNews == true ? 'selected' : 'disabled'">{{language.club_wall.club_news}}</button></li>
                        <li><button type="button" (click)="onDates()" [ngClass]="displayDates == true ? 'selected' : 'disabled'">{{language.club_wall.club_dates}}</button></li>
                        <li><button style="border-bottom-right-radius: 12px" type="button" (click)="onEvents()" [ngClass]="displayEvents == true ? 'selected' : 'disabled'">{{language.club_wall.club_events}}</button></li>
                    </ul>
                </div>
                <div class="title-btn-group right-btn-group" *ngIf="createAccess.news == 'Yes' || createAccess.event == 'Yes'">
                    <button *ngIf="createAccess.news == 'Yes'" type="button" class="disabled" routerLink="/create-news"><img src="assets/img/Paper.svg">&nbsp;{{language.club_wall.create_news}}</button>
                    <button *ngIf="createAccess.event == 'Yes'" type="button" class="disabled" routerLink="/create-event"><img src="assets/img/Calendar.svg">&nbsp;{{language.club_wall.create_event}}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="club_news_widget_group">
        <!-- club news top widget start -->
        <div class="row dash-widget" *ngIf="displayNews == true">
            <div class="col-md-8 club_widget">
                <app-club-news></app-club-news>
            </div>
            <div class="col-md-4 appointment_widget">
                <app-group-news></app-group-news>
            </div>
            <!-- club news top widget start -->
        </div>

        <app-club-dates *ngIf="displayDates == true"></app-club-dates>
        <app-club-events *ngIf="displayEvents == true"></app-club-events>
    </div>
</div>