/*!

 =========================================================
 * Club News 
 =========================================================
*/

/*news widget css start*/

.news-widget {
    margin-bottom: 25px;
    background-color: #fff;
}

span.news-category {
    color: #E12217;
    font-weight: 600;
    margin-top: 8px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.news-content h5 {
    font-size: 15px;
    font-family: 'poppinssemibold';
    color: #192838;
    margin-top: 5px;
    margin-bottom: 5px;
}

.news-content p {
    font-size: 14px;
    color: #424D5C;
    font-weight: 400;
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    height: 20px;
}

.news-content p a {
    font-weight: 500;
    color: #424D5C;
}

.author-img img {
    border-radius: 50%;
    height: 100%;
}

.news-widget .card-footer hr {
    margin: 7px 0 8px;
}

.author-info {
    display: flex;
    align-items: center;
}

.author-img {
    width: 40px;
    height: 40px;
    border-radius: 50% !important;
    margin-right: 15px;min-width: 40px;
}

.author-des {
    color: #424D5C;
    line-height: 17px;
    display: grid;
}
    
span.author-id {
    display: inline-block;
    width: 100%;
    font-family: 'poppinssemibold';
    font-size: 13px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

span.author-date {
    font-size: 12px;
}
