<div class="card ">
    <div class="card-header ">
        <h5 class="card-title">{{language.dashboard.dashboardNewsTitle}}</h5>
    </div>
    <div class="card-body" *ngIf="role!='guest'">
        <div class="row" (onLoad)="getAllNews()">
            <div class="col-lg-4 col-md-6 col-sm-6" *ngFor='let data of dashboardData; let i=index'>
                <!-- <div class="preview_club_news_inner" *ngIf="role!='guest'"> -->
                <ng-container *ngIf="i < 3">
                    <a routerLink="/clubnews/{{data.id}}">
                        <div class="news-widget">
                            <div class="news-image" [ngClass]="data.imageUrls == null ? 'no_image' : ''">
                                <!-- <img src="{{data.imageUrls}}"> -->
                                <img *ngIf="data.imageUrls!= null" src="{{data.imageUrls}}">
                                <img *ngIf="data.imageUrls == null" src="../../assets/img/no_image.png">
                            </div>
                            <!--Remove the tag-->
                            <!-- <a routerLink="/clubnews/{{data.id}}"><span class="news-category">#{{data.title}}</span></a> -->
                            <div class="news-content">
                                <a routerLink="/clubnews/{{data.id}}">
                                    <h5 class="news-content-heading">{{data.title}}</h5>
                                    <!--Remove the tag and added the title-->
                                    <!-- <h5 class="news-content-heading" [innerHTML]="data.headline"></h5> -->
                                </a>
                                <p class="news-content-text" [innerHTML]="data.text">...<a href="#">{{language.dashboard.dashboardNewsContent}}</a></p>
                            </div>
                            <div class="card-footer ">
                                <hr>
                                <div class="author-info">
                                    <div class="author-img">
                                        <!-- <img src="assets/img/mike.jpg"> -->
                                        <img src="../../../assets/img/mike.jpg">
                                    </div>
                                    <div class="author-des">
                                        <span class="author-date">{{language.dashboard.dashboardNewsAuthor}}</span>
                                        <span class="author-id"> {{data.user.firstname}}
                                                {{data.user.lastname}}</span>
                                        <span class="author-date">{{data.created_at | date: 'd MMM y'}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </ng-container>
                <!-- </div> -->
            </div>
            <div class="col-md-12">
                <div class="show_more_btn">
                    <!-- <a>
                        <button (click)="showAll()" class="red_more_btn">{{language.dashboard.dashboardNewsShowAll}}</button>
                    </a> -->
                    <a routerLink="/clubwall-news/1"><button
                                class="red_more_btn">{{language.dashboard.dashboardNewsShowAll}}</button></a>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body" *ngIf="role=='guest'">
        <div class="row" (onLoad)="getAllNews()">
            <div class="col-lg-4 col-md-6 col-sm-6" *ngFor='let data of guestNews; let i=index'>
                <!-- <div class="preview_club_news_inner" *ngIf="role!='guest'"> -->
                <ng-container *ngIf="i < 3">
                    <a routerLink="/clubnews/{{data.id}}">
                        <div class="news-widget">
                            <div class="news-image" [ngClass]="data.imageUrls == null ? 'no_image' : ''">
                                <!-- <img src="{{data.imageUrls}}"> -->
                                <img *ngIf="data.imageUrls!= null" src="{{data.imageUrls}}">
                                <img *ngIf="data.imageUrls == null" src="../../assets/img/no_image.png">
                            </div>
                            <!--Remove the tag-->
                            <!-- <a routerLink="/clubnews/{{data.id}}"><span class="news-category">#{{data.title}}</span></a> -->
                            <div class="news-content">
                                <a routerLink="/clubnews/{{data.id}}">
                                    <h5 class="news-content-heading">{{data.title}}</h5>
                                    <!--Remove the tag and added the title-->
                                    <!-- <h5 class="news-content-heading" [innerHTML]="data.headline"></h5> -->
                                </a>
                                <p class="news-content-text" [innerHTML]="data.text">...<a href="#">{{language.dashboard.dashboardNewsContent}}</a></p>
                            </div>
                            <div class="card-footer ">
                                <hr>
                                <div class="author-info">
                                    <div class="author-img">
                                        <!-- <img src="assets/img/mike.jpg"> -->
                                        <img src="../../../assets/img/mike.jpg">
                                    </div>
                                    <div class="author-des">
                                        <span class="author-date">{{language.dashboard.dashboardNewsAuthor}}</span>
                                        <span class="author-id"> {{data.user.firstname}}
                                                {{data.user.lastname}}</span>
                                        <span class="author-date">{{data.created_at | date: 'd MMM y'}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </ng-container>
                <!-- </div> -->
            </div>
            <div class="col-md-12">
                <div class="show_more_btn">
                    <a routerLink="/clubwall-news/1"><button
                            class="red_more_btn">{{language.dashboard.dashboardNewsShowAll}}</button></a>
                </div>
            </div>
        </div>
    </div>
</div>