<div class="content n-detail-main">
    <div class="news_details_main">
        <div class="row">
            <div class="col-md-12 news_detail_inner">
                <div class="card">
                    <div class="card-body">
                        <!-- news details data start -->
                        <div class="news_details" *ngIf="newsData">
                            <div class="row">
                                <div class="news_content col-md-12">
                                    <div class="news_image">
                                        <app-image-viewer *ngIf="newsData.imageUrls" [imageURL]="newsData.imageUrls" [open]="viewImage" (close)="viewImage = false"></app-image-viewer>
                                        <div class="news_image_container" (click)="viewImage=true">
                                            <!-- <img src="{{newsData.imageUrls}}"> -->
                                            <img [src]="newsData.imageUrls ? newsData.imageUrls : '../../assets/img/no_image.png'">
                                        </div>
                                    </div>
                                    <!--Remove the tag-->
                                    <!-- <div class="news_group_text">#{{newsData.title}}</div> -->
                                    <div class="news_heading">
                                        <h2>{{newsData.title}}</h2>
                                        <!--Remove the tag and added the title-->
                                        <!-- <h2 [innerHTML]="newsData.headline"></h2> -->
                                    </div>
                                    <div class="news_content_text" [innerHTML]="newsData.text">...<a href="#">{{language.dashboard.dashboardNewsContent}}</a></div>
                                    <div class="author-info">
                                        <div class="author-img">
                                            <img src="assets/img/mike.jpg">
                                        </div>
                                        <div class="author-des">
                                            <span class="author-id">{{language.dashboard.dashboardNewsAuthor}} {{newsData.user.firstname}}
                                        {{newsData.user.lastname}}</span>
                                            <span class="author-date">{{newsData.created_at | date: 'd MMM y'}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown action_group">
                                    <button class="dropdown-toggle" type="button" (click)="onShow()">
                                            <i class="nc-icon nc-bullet-list-67"></i>
                                          </button>

                                    <ul class="dropdown-menu bunch_drop" aria-labelledby="dropdownMenuLink">
                                        <li><a class="dropdown-item" *ngIf="userDetails.id == newsData.user.keycloak_id || userDetails.isAdmin" (click)="updateNews(newsData.id)">{{language.club_news.Edit}}</a></li>
                                        <li><a class="dropdown-item" *ngIf="userDetails.id == newsData.user.keycloak_id || userDetails.isAdmin" (click)="deleteNews(newsData.id)">{{language.club_news.Delete}}</a></li>
                                        <li (click)="goBack()"><a class="dropdown-item">{{language.club_news.Back}}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- news details data End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>